/* CSS for QuesRespModule5Sec7XBlock */

/*.quesrespmodule5sec7xblock_block .count {
    font-weight: bold;
}

.quesrespmodule5sec7xblock_block p {
    cursor: pointer;
}*/

.right .fa-angle-right {
    color: #000;
}

.fa-2x {
    font-size: 2em;
}


.selectedAns{
     background: transparent;
     border:2px solid #fff;
}
