

.scatterplot {
    padding-bottom: 0;
    min-height: 100%;
    background: #eee;
}
 .scatterplot p {
    font-size: 14px;
}
 .scatterplot .white{
    background: #eee;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

 .scatterplot .ques{
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}
 .scatterplot .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;
}


 .scatterplot .calcHeight{
    display: table;
}
 .scatterplot .calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
 .scatterplot .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
 .scatterplot .incorrect{
    background: #F06858;
}
 .scatterplot .correct{
    background: #2CB69D;
}
 .scatterplot .incorrect .ques, .scatterplot .correct .ques{
    color: #fff;
}
 .scatterplot .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
 .scatterplot .incorrect .incorrectMsg, .scatterplot .correct .correctMsg{
    display: block;
}
 .scatterplot .msg h3{
    color:#fff;
}
 .scatterplot .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
}
 .scatterplot .incorrect .pageCount, .scatterplot .correct .pageCount{
    display: none;
}
 .scatterplot .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
 .scatterplot .correctMsg .fa{
    font-size: 17px;
}
 .scatterplot .sign .fa{
    color: white;
}
 .scatterplot .incorrect .sign .fa-times, .scatterplot .correct .sign .fa-check{
    display: block !important;
}
 .scatterplot .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}

 .scatterplot .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
 .scatterplot .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}

.carousel-control.right {
    background-image: none;
    line-height: 308px;
    height: 0px;
}
.carousel-control.left {
    background-image: none;
    line-height: 308px;
    height: 0px;
}
.carousel-indicators .active {
    background-color: #999;
}
.Dis {
    pointer-events: none;
}
.msgBtn {
    cursor: pointer;
}

.carousel-indicators li {
    background-color: #ccc !important;
}
.jumbotron p{
    font-size: 14px !important;
}
.left .fa-angle-left, .right .fa-angle-right {
    color: #000 !important;
}


@media only screen and (min-width : 768px) {
    .scatterplot .row-eq-height {
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
      }
       .scatterplot .ans {
           margin: 0;
           padding: 4px;
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: row;
      }
      .scatterplot .ansB {
           margin: 0;
           padding: 4px;
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: row;
      }
      .scatterplot .ansC {
           margin: 0;
           padding: 4px;
           display: -webkit-box;
           display: -webkit-flex;
           display: -ms-flexbox;
           display: flex;
           align-items: center;
           justify-content: center;
           flex-direction: row;
      }
       .scatterplot .msg{
           text-align: left;
      }
  }

  .line4b {
    border-bottom: 2px solid #DCDDDF;
    margin: 35px auto;
    width: 70%;
}

.carousel {
    position: relative;
    display: table;
    margin: 0 auto;
    width: 100%;
}