.m6s7p1 .item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}
.m6s7p1 .item a:hover {
    text-decoration: underline;
}
.m6s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;        
}
.m6s7p1 .b1  h2 {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    /*font-family: "GothamHTF-Bold";*/
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
/* poll result box */
.carouselC .well{padding:0px;padding-bottom: 0px!important;margin-bottom: 0px;}
/*.act2{margin-top: -160px;}*/
.pollbox{width:100%;height:50px;margin-bottom: 0px;margin-top:0px;}
.pollbox .pbox1{float:left; margin-left:0px; color:#33a0cb; height:20px; background:#33a0cb; font-weight:700;}
.pollbox .span{position:relative;  margin-left: 0px; font-weight:700;}
.pollbox .span1{float: left; margin-left:10px;color:#33a0cb; font-weight:700;}
.pollbox .span2{float: left; margin-left:10px; color:#33a0cb; font-weight:700;}
.pollbox .left1{float:left; width:150px; position:relative;}
/* for POll */
/* The container */
.ui-radio{max-width:240px;}
.radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    cursor: default;  padding-top: 4px;
    font-size: 110%; font-weight:500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 27px;
    width: 27px;
    background-color: #eee; border:#222 1px solid;
    border-radius: 50%;
	cursor: pointer;
}

/* On mouse-over, add a grey background color */
.radio:hover input ~ .checkmark {
    background-color: #ffffff; border:#222 1px solid;
}

/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkmark {
    background-color: #222;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/* end poll css */ 
.m6s7p1 .b1 .container p{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    /*font-family: "GothamHTF-Bold";*/
}

.m6s7p1 .m6s7b1 h3, .m6s7p1 .m6s7b4 h3,  .m6s7p1 .m6s7b9 h3, .m6s7p1 .m6s7b17_C h3, .m6s7p1 .m6s7b20 h3, .m6s7p1 .m6s7b20d h4 {
    /*font-family: "GothamHTF-Bold";*/    
}

.m6s7p1 .m6s7b2 {
    margin-bottom: 10px !important;    
 }
.m6s7p1 .m6s7b2a { 
    background-color: #f4f4f4;
    padding: 30px 10px;    
    margin-left: 15px;
    margin-right: 15px;
}
.m6s7p1 .m6s7b2a .row {
    margin-right: 0px  !important;
    margin-left: 0px !important;
}
.m6s7p1 .m6s7b2 p{
    font-size: 14px;
 }
.m6s7p1 .m6s7b2a .col-xs-11{
    /*font-family: "GothamHTF-Medium";*/
 }

 
.m6s7p1 .circleText {
    height: 50px;
    width: 50px;    
    color: #fff;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
}
.m6s7p1 .c1 { background-color: #33a0cb; }
.m6s7p1 .c2 { background-color: #e4c72c; }
.m6s7p1 .c3 { background-color: #28ae95; }
.m6s7p1 .c4 { background-color: #232a30; }
.m6s7p1 .c5 { background-color: #ee604c; }
.m6s7p1 .c6 { background-color: #7e90a8; }

.m6s7p1 .T1 { color: #33a0cb; }
.m6s7p1 .T2 { color: #e4c72c; }
.m6s7p1 .T3 { color: #28ae95; }
.m6s7p1 .T4 { color: #232a30; }
.m6s7p1 .T5 { color: #ee604c; }
.m6s7p1 .T6 { color: #7e90a8; }

.m6s7p1 .Ta1 { color: #fff; background-color: #33a0cb; }
.m6s7p1 .Ta2 { color: #fff; background-color: #e4c72c; }
.m6s7p1 .Ta3 { color: #fff; background-color: #28ae95; }
.m6s7p1 .Ta4 { color: #fff; background-color: #232a30; }
.m6s7p1 .Ta5 { color: #fff; background-color: #ee604c; }
.m6s7p1 .Ta6 { color: #fff; background-color: #7e90a8; }

.m6s7p1 .accord_1, .m6s7p1 .accord_2, .m6s7p1 .accord_3, .m6s7p1 .accord_4,.m6s7p1 .accord_5,.m6s7p1 .accord_6  {
    padding-left: 14%;
}



.m6s7p1  .vertical-align_2 {
    align-items: center;
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}
.m6s7p1 .m6s7b3 {
    margin-top: 50px;
    margin-bottom: 20px;
    /*font-family: "GothamHTF-Medium";*/
}
.m6s7p1 .m6s7b4 {   
    margin-bottom: 50px;
}

.m6s7p1 .m6s7b9 {
    margin-bottom: 60px;
    margin-top: 60px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p4.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m6s7p1 .line4_a {
    border-bottom: 2px solid #DCDDDF;
    margin: 40px auto;
    width: 70%;
}
.m6s7p1 .line4_b {
    border-bottom: 2px solid #DCDDDF;
    margin: 40px auto;
    width: 100%;
}
.m6s7p1 .line4_ba {
    border-bottom: 2px solid #DCDDDF;
    margin: auto;
    margin: 30px 0px 10px 0px;
    width: 100%;
}
.m6s7p1 .line4_c {
    border-bottom: 2px solid #DCDDDF;
    margin: 30px auto;
    margin-bottom: 50px; 
    width: 23%;
}
.m6s7p1 .line4_d {
    border-bottom: 2px solid #DCDDDF;
    margin: 20px auto;
    margin-bottom: 40px; 
    width: 80%;
}

.m6s7p1 .m6s7b9a {       
    height: auto;     
    padding: 50px;    
    background-color: #fff;
}
.m6s7p1 .m6s7b9a p {        
    margin-bottom: 5px;
    font-size: 14px; 
}
.m6s7p1 .m6s7b9a h6 {
    font-size: 14px;
    color: #f4821f;
    font-weight: 600;
    margin-top: 40px;
}
.m6s7p1 .m6s7b9a a {
    color: #f4821f;
    font-size: 95%;
    border: 1px #f4821f solid;
    padding: 10px;
}

.m6s7p1 .s1bgcol{    
    width: 100%; 
    padding-top: 40px;
    padding-bottom: 0px;
}
.m6s7p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}
.m6s7p1 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.m6s7p1 .s1bgcol .response1 .btn-info{
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
.m6s7p1 .s1bgcol .response1 .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}
.m6s7p1 .s1bgcol3{
    background-color:#EAEAEA;
    width: 100%;
    padding: 0;
}
.m6s7p1 .s1bgcol3 .well {
   margin-bottom:0px;
   padding-bottom:0px;
}
.m6s7p1 .s1bgcol3 .well p{
 color: #22292F;
   font-size: 22px;
}
.m6s7p1 .s1bgcol3 .well .small{
    color: #F68223;
   font-size: 15px;
   width: 250px;
}
.m6s7p1 .s1bgcol3 h6 {
    color: #F68223;
}
.m6s7p1  .vertical-align_1 {
    align-items: center;
    display: flex;
}

.m6s7p1 .m6s7b6 {    
     margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p6.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    /*padding-top: 80px;*/
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m6s7p1 .m6s7b6 h2 {
    color:#fff;
    /*font-family: "GothamHTF-Bold";*/
 }

.m6s7p1 .m6s7b7 {   
    height: 100%;
  }

.m6s7p1 .m6s7b7 .col-sm-9 .well p:nth-child(1){
    color: #f68121;
    /*font-family: "GothamHTF-Medium";*/  
}
.m6s7p1 .m6s7b7 .col-sm-9 .well p:nth-child(2){
    /*font-family: "GothamHTF-Bold";*/
    font-size: 18px !important;
}
.m6s7p1 .m6s7b7 .col-sm-9 .well p:nth-child(3){
    /*font-family: "GothamHTF-Medium";*/    
}
.m6s7p1 .m6s7b7 .col-sm-9 .well p:nth-child(4){
    /*font-family: "GothamHTF-BookItalic";    */
    font-size: 12px !important;
    overflow-wrap: break-word;
}

.m6s7p1 .jumbotron .m6s7b7 p {
    font-size: 14px !important;
}
.m6s7p1 .vertical-align {
    align-items: center;
    display: flex;
}

.m6s7p1  .m6s7b7 .col-sm-12 .well1{
   background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;    
}
.m6s7p1  .m6s7b7 .col-sm-9 {  
    height: 100%;
    padding-left: 0;
}
.m6s7p1  .m6s7b7 .col-sm-9 .well{   
     background:#fff;
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;       
}
.m6s7p1  .m6s7b7 .well1 .row{   
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;
}

.m6s7p1 .boldT {
    /*font-family: "GothamHTF-Bold";*/
}

.m6s7p1 .s1bgcol{
    /*background-color: #fff;*/
    width: 100%; 
    padding-top: 40px;
    padding-bottom: 0px;
}
.m6s7p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}

.m6s7p1 .s1bgcol .response1 .navbar-form {
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.m6s7p1 .s1bgcol .response1 .btn-info {
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
.m6s7p1 .s1bgcol .response1 .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}
.m6s7p1 .well {
    background:none;
    border: 0px solid #e3e3e3;
    box-shadow:none;
    vertical-align: :center;
}


/* scatterplot */

 .m6s7mcq {
     padding-bottom: 0;
     min-height: 300px;
     margin-bottom: 60px;
}
.m6s7mcq p {
    font-size: 14px;
}
.white{
   background-color: #f3f5f4;
    /*padding: 40px 0px 60px 0px;*/
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

 .ques {
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}

  ul {
    color: #3C4252;
    font-size: 14px;
    font-weight: 600;
}

 .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.calcHeight{
    display: table;
}
.calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
.text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.incorrect{
    background: #F06858;
}
.correct{
    background: #2CB69D;
}
.Dis {
    pointer-events: none;
}

.incorrect .ques, .correct .ques,   .incorrect ul, .correct ul  

{
    color: #fff;
}
 .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
.incorrect .incorrectMsg, .correct .correctMsg{
    display: block;
}
.msg h3{
    color:#fff;
}
 .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.incorrect .pageCount,.correct .pageCount{
    display: none;
}
 .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
 .correctMsg .fa{
    font-size: 17px;
}
 .sign .fa{
    color: white;
}
.incorrect .sign .fa-times,.correct .sign .fa-check{
    display: block !important;
}
 .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}

 .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
 .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}

.carousel-indicators {
    bottom: 20px !important;
}

 .m6s7b17_C {
    background-color: #f3f5f4;
    height: 100%;
    padding-top: 50px;
    margin-top: 50px;
}
 .eq-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
 .correct h4, .incorrect h4 {
    color: #fff;
}
 .m7s7b7 {
    line-height: 390px !important;
}
.container .carousel .left1.carousel-control{
    margin-left: -28px;
    height: 10px;
    top: 33%;
}
 .container .carousel .left1.carousel-control span{
 position: absolute;
   
}
 .container .carousel .right1.carousel-control{
   margin-right: -14px;
    height: 10px;
      top: 33%;
}
 .container .carousel .right1.carousel-control span{
    position: absolute;    
}
 .carousel-control.right1 {
    background-image: none;    
    height: 0px;
}
 .carousel-control.left1 {
    background-image: none;    
    height: 0px;
}
.carousel-control.right1 {
    right: 0;
    left: auto;   
}
 .left1 .fa-angle-left, .m6s7p1 .right1 .fa-angle-right {
    color: #000;
}


/* accordion */

.m6s7p1 .panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
    /*float: right;*/        /* adjust as needed */
    /*color: grey;*/         /* adjust as needed */
}
.m6s7p1 .panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
}
.m6s7p1 .m6s7b20 .panel-heading {
    padding: 0px !important;
}


.m6s7p1 .m6s7b20 .panel p {
    font-size: 14px !important;
    /*font-family: "GothamHTF-Book" !important;*/
}
.m6s7p1 .m6s7b20 .panel-body {
    padding: 0px;
}


.m6s7p1 .m6s7b20b {
    margin-bottom: 60px;
    margin-top: 60px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p2.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m6s7p1 .line4_a {
    border-bottom: 2px solid #DCDDDF;
    margin: 40px auto;
    width: 70%;
}
.m6s7p1 .m6s7b20c {       
    height: auto;
    padding-top: 40px;
    padding-bottom: 90px;
    background-color: #fff;
}
.m6s7p1 .m6s7b20c p {        
    margin-bottom: 5px;
    font-size: 14px; 
}
.m6s7p1 .m6s7b20c h6 {
    font-size: 14px;
    color: #f4821f;
    font-weight: 600;
    margin-top: 40px;
}
.m6s7p1 .m6s7b20c a {
    color: #f4821f;
    font-size: 95%;
    border: 1px #f4821f solid;
    padding: 10px;
}
.m6s7p1 .m6s7b20d {
    background-color: #f0f0f0;
    padding: 30px 50px 30px 50px;
    margin-top: 50px;
}
.m6s7p1 .m6s7b20d h4 {
    margin-bottom: 30px; 
}

.m6s7p1 .m6s7b20d h6, .m6s7p1 .m6s7b21c h6 {
    font-size: 14px;
    color: #f4821f;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 56px;
}
.m6s7p1 .m6s7b20d a, .m6s7p1 .m6s7b21c a {
    color: #f4821f;
    font-size: 95%;
    border: 1px #f4821f solid;
    padding: 10px;
}

.m6s7p1 .m6s7b21 {
    margin-top: 50px;
    margin-bottom: 0px; 
    /*padding-bottom: 40px;
    padding-top: 40px;*/
}
.m6s7p1 .m6s7b21 p {
    font-size: 14px;
 }
.m6s7p1 .m6s7b21a {    
    padding-bottom: 60px;
    padding-top: 80px;
    background-color: #3b4254;
    margin-bottom: 50px; 
}

.m6s7p1 .m6s7b21b {
    background-color: #FFFFFF;
    padding-bottom: 30px;
    padding-top: 40px;
}

.m6s7p1 .m6s7b21c {
    background-color: #f3f5f4;
    padding-bottom: 30px;
    padding-top: 40px;
    margin-bottom: 40px; 
}
.m6s7p1 .m6s7b21d {
    background-color: #f5f5f5;    
    padding-bottom: 25px;
    padding-top: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.m6s7p1 .md {
    /*font-family: "GothamHTF-Medium";*/
}

.m6s7p1 .m6s7b22 {
    margin-top: 40px; 
    margin-bottom: 40px; 
    background-color: #ce4b3d;
    padding: 0px 20px 20px 20px;
}

.m6s7p1 .m6s7b22a {    
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
}
.m6s7p1 .m6s7b22a .boxText {
    /*font-family: 'GothamHTF-Medium' !important;*/
    color: #cc4a3c;
}
.m6s7p1 .img6 {
    position: absolute;
    z-index: 99;
    top: 1.5%;
    right: -16%;
}

.m6s7p1 .m6s7b23 {
    margin-bottom: 60px;
    margin-top: 60px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p18.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m6s7p1 .m6s7b23a {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #fff;
 }



@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {

.m6s7p1 .m6s7b17 .eq-h {
    display: grid;
}
.m6s7p1 .m6s7b17 .eq-h .col-sm-4, .m6s7p1 .m6s7b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

  .m6s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
 /*module1 section1 css*/
.m6s7p1 .s1bgcol .response1 .navbar-form{ 
    padding-left:  10px;
    padding-right:  0px;
   
}
.m6s7p1 .b1  h2 {
   /*font-family: "GothamHTF-Bold";*/
    font-size: 124%;
    width: 70%;
 }

.m6s7p1 .b1 .container p{
    /*font-family: "GothamHTF-Bold";*/
    font-size: 107%;
    width: 42%;
    }

.m6s7p1 .s1hide {
    display: none;
}
.m6s7p1 .m6s7mcq .left1, .m6s7p1 .m6s7mcq .right1 {
    display: none;
}

.m6s7p1 .m6s7b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p6.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b23 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p18.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b4 {
    margin-bottom: 0px;
    /*background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p5.png') no-repeat center center; 
    */
	background:#fff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
}
.m6s7p1 .m6s7b9 {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p4.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b20b {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p2.png) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1  .vertical-align_1 {
  display: inline;
}





}

@media only screen and (max-width: 768px) {

.m6s7p1 .img6 {   
    right: -26%;
}

 } 



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {
.m6s7p1 .accord_1, .m6s7p1 .accord_2, .m6s7p1 .accord_3, .m6s7p1 .accord_4, .m6s7p1 .accord_5, .m6s7p1 .accord_6 {
    padding-left: 1%;
}
.m6s7p1 .m6s7b17 .eq-h {
    display: grid;
}
.m6s7p1 .m6s7b17 .eq-h .col-sm-4, .m6s7p1 .m6s7b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m6s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
    .m6s7p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
     .m6s7p1 .b1  h2 {
         /*font-family: "GothamHTF-Bold";*/
    font-size: 124%;
    width: 70%;
    }
    .m6s7p1 .b1 .container p{
         font-size: 107%;
    width: 42%;
    /*font-family: "GothamHTF-Bold";*/
    }
    .m6s7p1 .s1hide {
        display: none;
    }
    .m6s7p1 .m6s7mcq .left1, .m6s7p1 .m6s7mcq .right1 {
    display: none;
}
.m6s7p1 .dArowh {
    display: none;  
}

.m6s7p1 .m6s7b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p6.png') no-repeat center center; 
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

.m6s7p1 .m6s7b23 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p18.png') no-repeat center center; 
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b9 {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p4.png) no-repeat center center;
   -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b20b {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p2.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

.m6s7p1 .m6s7b4 {
    margin-bottom: 0px;
   /* background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p5.png') no-repeat center center center; 
    */
	background:#fff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
}
.m6s7p1  .vertical-align_1 {
  display: inline;
}



}
@media  screen
and (min-device-width : 300px)and (max-device-width : 750px) {
.m6s7p1 .circleText {
    height: 40px;
    width: 40px;
    color: #fff;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    font-size: 18px;
}
.m6s7p1 .img6 {
    right: -0%;
    max-width: 95px;
    top: -8px;
}
.m6s7p1 .m6s7b22 { margin-left:25px; margin-right:25px;}
}
@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
.m6s7p1 .accord_1, .m6s7p1 .accord_2, .m6s7p1 .accord_3, .m6s7p1 .accord_4, .m6s7p1 .accord_5, .m6s7p1 .accord_6 {
    padding-left: 1%;
}
 .m6s7b20d row, .m6s7b20d .col-sm-12
   {
   padding-right: 0px;
    padding-left: 15px;
  }
  .m6s7p1 .m6s7b20d {
    padding: 20px 10px 10px 15px;
    margin-top: 50px;
}
.pollbox .left1 {
    float: left;
    width: 130px;
    position: relative;
}
.m6s7p1 .m6s7b17 .eq-h {
    display: grid;
}
.m6s7p1 .m6s7b17 .eq-h .col-sm-4, .m6s7p1 .m6s7b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m6s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p1.png') no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
.m6s7p1 .m6s7b9 {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p4.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
    min-height: 300px;    
}
.m6s7p1 .m6s7b23 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p18.png') no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
	 min-height: 300px;   
}
.m6s7p1 .m6s7b20b {
    margin-bottom: 0px;
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p2.png) no-repeat center center;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
	 min-height: 300px;   
}

  /*module1 section1 css*/
.m6s7p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
.m6s7p1 .b1  h2{  
   /*font-family: "GothamHTF-Bold";*/
    font-size: 103%;
     width: 90%;
    }

.m6s7p1 .b1 .container p{
     /*font-family: "GothamHTF-Bold";*/
    font-size: 83%;
    width: 65%;
    }

.m6s7p1 .s1hide {
    display: none;
}
.m6s7p1 .m6s7mcq .left1, .m6s7p1 .m6s7mcq .right1 {
    display: none;
}

.m6s7p1 .dArowh {
    display: none;  
}

.m6s7p1 .m6s7b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p6.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

.m6s7p1 .m6s7b4 {
    margin-bottom: 0px;
   /* background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p5.png') no-repeat center center center; 
    */
    background:#fff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
}
.m6s7p1  .vertical-align_1 {
  display: inline;
}



}

@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
.m6s7p1 .m6s7b17 .eq-h {
    display: grid;
}
.m6s7p1 .m6s7b17 .eq-h .col-sm-4, .m6s7p1 .m6s7b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m6s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
.m6s7p1 .s1bgcol .response1 .navbar-form{ 
    padding-left: : 10px;
padding-right: : 10px;
   
}
 .m6s7p1 .b1  h2 {  
   /*font-family: "GothamHTF-Bold";*/
    font-size: 48%;
    width: 86%;
    }

.m6s7p1 .b1 .container p {
    /*font-family: "GothamHTF-Bold";*/
    font-size: 42%;
    width: 60%;
}
.m6s7p1 .m6s7mcq .left1, .m6s7p1 .m6s7mcq .right1 {
    display: none;
}

.m6s7p1 .s1hide {
    display: none;
}
 
.m6s7p1 .dArowh {
    display: none;  
}

.m6s7p1 .m6s7b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p6.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m6s7p1 .m6s7b4 {
    margin-bottom: 0px;
    /*background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m6s7p5.png') no-repeat center center center; 
    */
	background:#fff;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;

}
.m6s7p1  .vertical-align_1 {
  display: inline;
}

 
}


@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {
.m6s7p1 .m6s7b17 .eq-h {
    display: grid;
}
.m6s7p1 .m6s7b17 .eq-h .col-sm-4, .m6s7p1 .m6s7b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m6s7p1 .s1bgcol .response1 .form-control{ 
 font-size:9px !important;
}
.m6s7p1 .m6s7mcq .left1, .m6s7p1 .m6s7mcq .right1 {
    display: none;
}

.m6s7p1 .s1bgcol .response1 .btn-info {
  font-size: 10px;
  width: 81px;
    }
.m6s7p1  .vertical-align_1 {
  display: inline;
}


}


@media only screen and (min-width : 768px) {
  .m6s7p1 .m6s7mcq .row-eq-height {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
    }
.m6s7p1 .m6s7mcq .ans {
         margin: 0;
         padding: 4px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
    }
}   