.m8s10p1{
    position: relative;
}
.m8s10p1 #myModal5 ::-webkit-input-placeholder {
    font-style: italic;
 }
 .m8s10p1 #myModal5 :-moz-placeholder {
    font-style: italic;  
 }
 .m8s10p1 #myModal5 ::-moz-placeholder {
    font-style: italic;  
 }
 .m8s10p1 #myModal5 :-ms-input-placeholder {  
    font-style: italic; 
 }
 .m8s10p1 .additem{height:450px; margin:0 auto; margin-top:50px; margin-bottom:50px; z-index:9; display:block; width:100%;  position:relative;}
 
 .m8s10p1 .additem1{background: rgba(22, 22, 22, 0.75); min-height:450px; color:#ffffff; font-size:190%; margin:0 auto;     width:100%;display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     padding:30px;
 }
 .m8s10p1 .additem1 .col-sm-4 p{font-size:78%; text-align:left;}
 .m8s10p1 .additem1 p span{}
 .m8s10p1 .additem1 .col-sm-4, .additem1 .col-md-4{padding-top:10px;}
 .m8s10p1 .additem1q{background: rgba(22, 22, 22, 0.75); min-height:450px; color:#ffffff; font-size:150%; margin:0 auto; width:86%;display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;padding:0px;
     }
 .m8s10p1 .a{background:url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s10p2.png') no-repeat center center;  padding:0px; background-size: cover; width:100%; min-height:550px; }
 .m8s10p1 .a canvas{width: 100%!important; }
     .carousel-control {
     line-height: 450px!important;
 }
 .m8s10p1 .additem1 .boldT{color: #ffffff;
     font-size: 18px;
     position: absolute;
     top: -55px;
     width: 100%;
     left: -10px;
     }
 .m8s10p1 .btop{top: -55px;}
 .m8s10p1 .color1{color:#e3c729; } /*yellow*/
 .m8s10p1 .color2{color:#29ae95;} /*green*/
 .m8s10p1 .color3{color:#ee5f4b;}  /*redoraing*/
 .m8s10p1 .color4{color:#34a0cd;}  /*blue*/
 .m8s10p1 .color5{color:#d4aebf; }/*pink */
 .m8s10p1 .color6{color:#f68121; }/*orange */ 
 .m8s10p1 .color7{color:#e2c72b; }/*orange */ 
 
 
 .m8s10p1 .additem1 .form-control{
     background:rgb(220, 221, 223);
     border: medium none;
     border-radius: 0;
     box-shadow: none;
     color: #000;
 }
 .m8s10p1 #e1 {
    font-size: 16px;
     padding: 0px;
     background: none;
     border: none;
     color: #f20747;
     position: absolute;
     top: 50px;
     display:none;
 }
 .m8s10p1 #e2 {
    font-size: 16px;
     padding: 0px;
     background: none;
     border: none;
     color: #f20747;
     position: absolute;
     top:0px;
     display:none;
 }
 .printdiv-bot{width:500px; margin:0 auto;}
 .m8s10p1 .next{cursor: pointer;}
 /*.next :hover{background: rgba(22, 22, 22, 0.65);}*/

 
 @media screen
 and (min-device-width : 666px)
 and (max-device-width : 2065px) {
 .m8s10p1 .additem1 .btn, .m8s10p1 .additem1q .btn{
     position: absolute;
     bottom: 15px;
     margin: 0 auto;
     left: 40%;
     width: 20%;
 }
 }
 
 @media screen
 and (min-device-width : 651px)
 and (max-device-width : 765px) {
 .m8s10p1 .additem1 .btn, .m8s10p1 .additem1q .btn{
 position: absolute;
     bottom: 15px;
     margin: 0 auto;
     left: 38%!important;
     width: 24%!important;
 }
 }
 
 @media screen
 and (min-device-width : 501px)
 and (max-device-width : 650px) {
 .m8s10p1 .additem1 .btn, .m8s10p1 .additem1q .btn{
 position: absolute;
     bottom: 15px;
     margin: 0 auto;
     left: 37%!important;
     width: 26%!important;
 }
 }
 
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : landscape) { 
 .m8s10p1 .left{left:12%!important;}
 .m8s10p1 .right{left:87%!important;}
 }
 
 @media only screen 
 and (min-device-width : 768px) 
 and (max-device-width : 1024px) 
 and (orientation : portrait) { 
 .m8s10p1 .left{left:12%!important;}
 .m8s10p1 .right{left:87%!important;}
 }
/* @media  screen
 and (min-device-width :769px)
 and (max-device-width : 1024px) {
 .m8s10p1 .left{left:10%!important;}
 .m8s10p1 .right{left:87%!important;}
 }*/
 
 @media screen
 and (min-device-width : 501px)
 and (max-device-width : 765px) {
 
 .m8s10p1 .additem{height:450px; margin:0 auto; width:86%; margin-top:50px; margin-bottom:50px; position:absolute; z-index:999999; display:block;  position: relative;}
 .m8s10p1 .additem1 .col-sm-4, .additem1 .col-md-4{
    padding-bottom: 0px;
     padding-top: 0px;
     }
 .m8s10p1 .additem1 .col-sm-4 p {
     font-size: 75%;
     text-align: left;
     padding-top: 6px;
 }	
 .m8s10p1 .additem1{background: rgba(22, 22, 22, 0.75); min-height:450px; color:#ffffff; font-size:145%; margin:0 auto;     width:86%;display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     padding: 30px;
 }
 .m8s10p1 .padding3,.m8s10p1 padding3{
     padding-left:10px;
     padding-right: 40px;
 }
 .m8s10p1 .left{left:9%!important;}
 .m8s10p1 .right{left:84%!important;}
 .printdiv-bot{width:100%; margin:0 auto;}
 }	
 
 
 
     @media  screen
 and (min-device-width : 300px)
 and (max-device-width : 500px) {
 .printdiv-bot{width:100%; margin:0 auto;}
 .m8s10p1 .additem{    height: 450px;
     margin: 0 auto;
     width: 100%;
     margin-top: 50px;
     margin-bottom: 50px;
     margin-left: auto;
     margin-right: auto;
     position: relative;
     z-index: 999999;
     display: block;
     }
 .m8s10p1 .additem1 .col-sm-4, .m8s10p1 .additem1 .col-md-4{
    padding-bottom: 0px;
     padding-top: 0px;
     }
 .m8s10p1 .additem1 .col-sm-4 p {
     font-size: 78%;
     text-align: left;
     padding-top: 8px;
 }	
 .m8s10p1 .additem1{background: rgba(22, 22, 22, 0.75); min-height:450px; color:#ffffff; font-size:110%; margin:0 auto;     width:86%;display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: row;
     padding: 30px;
 }
 .m8s10p1 .padding3,.m8s10p1 padding3{
     padding-left:10px;
     padding-right: 40px;
 }
 
 .m8s10p1 .additem1 .btn, additem1q .btn{
     position: absolute;
     bottom: 15px;
     margin: 0 auto;
     left: 20%;
     width: 60%;
 }
 .m8s10p1 .left{left:11%!important; }
 .m8s10p1 .right{left:76%!important; }
 }
 .m8s10p1 .btn-default{  min-width:140px; text-align:center; border-radius: 1px;text-transform: uppercase;}
 .m8s10p1 #0, .m8s10p1 #1,.m8s10p1 #2,.m8s10p1 #3,.m8s10p1 #4,.m8s10p1 #5,.m8s10p1 #6,.m8s10p1 #7,.m8s10p1 #8,.m8s10p1 #9,.m8s10p1 #10,.m8s10p1 #11,.m8s10p1 #12,.m8s10p1 #13,.m8s10p1 #14{display:none;}
 .m8s10p1 .hide {
     left: -9999px !important;
     position: absolute !important;
     visibility: hidden;
     z-index: -500;
     top: -9999px;
 }
 @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
   For portrait layouts only 
  .m8s10p1 .a{background:url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s10p2.png') no-repeat center center;  padding:0px; background-size: cover; width:100%; min-height:950px; }
   /* .m8s10p1 .additem1 {
     min-height: 400px;
     color: #ffffff;
     font-size: 145%;
     margin: 0 auto;
     width: 100%;
     }
   */
 }