
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CME Accreditation</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <style>
    body, html {
      margin: 0;
      padding: 0;
      font-family: "GotahmHTF-Book", Arial, sans-serif;
    }
    .underline {
      text-decoration: underline;
    }
    .center {
      text-align: center;
      margin: 0 1em 2em 1em;
    }
    .italic {
      font-style: italic;
    }
    header {
      padding: 1em 15px;
      background-color: #f8f8f8;
    }
    footer {
      padding: 0 3em;
    }
  </style>

</head>

<body>

<header>
  <img style="cursor:pointer;" src="https://s3.us-east-2.amazonaws.com/dms-vbhc/img/logo.png" width="250" onclick="window.location='https://vbhc.dellmed.utexas.edu/'">
</header>

<div class="center" style="margin: 0 3rem 0 3rem;">
  <h3>Discovering Value-Based Health Care Modules Continuing Medical Education Credit</h3>

  <p class="underline">Target Audience</p>

  <em>Primary</em>: all health professional students, resident physicians, and practicing clinicians.

  <p class="underline">This activity has been designed to promote some of the following desired physician attributes and competencies.</p>

  <p style="font-size:.9em;"><strong>ACGME</strong>: Systems-based Practice; Professionalism; Practice-based Learning and Improvement; Patient Care<br />
  <strong>IOM</strong>:  Provide patient-centered care; Apply quality improvement; Utilize informatics; Employ evidence-based practice</p>

  <p style="font-size:.8em;"><strong><em>For more information, please contact Victoria Valencia, 512-495-5178</em></strong></p>

 <!-- <p class="italic" style="font-size:.9em;">The Discovering Value-Based Health Care –Introduction to VBHC planning committee members are: Christopher Moriates MD, Victoria Valencia MPH, Sue Cox MD, Kevin Bozic MD, Elisabeth Teisberg PhD, Mike Pignone MD, Elisabeth Nelson MD, Jonathan MacClements MD, LuAnn Wilkerson EdD, Joseph Joo (Medical Student). Institute for Transformational Learning contributors: Christopher Medellin, Sara Stamets, Rebecca Row.</p>-->

  <p class="italic" style="font-size:.9em;">The Discovering Value-Based Heath Care &ndash; VBHC Delivery planning committee members are: Christopher Moriates MD, Victoria Valencia MPH, Sue Cox MD, Kevin Bozic MD, Elisabeth Teisberg PhD, Mike Pignone MD, Elisabeth Nelson MD, Jonathan MacClements MD, LuAnn Wilkerson EdD, Joseph Joo (Medical Student), and Sara Stamets.</p>


<p class="italic" style="font-size:.9em;"> <!-- Dr. Moriates reports relevant financial relationships with McGraw-Hill.-->
Dr. Pignone reports relevant financial relationships with grant support from CPRIT and Healthwise and consulting fees from Verily.
  <br/>
  The other members of the planning committee have no financial conflicts of interest to disclose relating to the educational content of this series.</p>  

  <p style="font-size:.9em;">CME start date: June 2017 
    <br><br>
    CME termination date: June 2020  
  </p>

</div>

<footer>
<br>
  <p class="italic" style="font-size:.9em;"><!--The University of Texas at Austin Dell Medical School is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians.
    <br><br>-->
	<strong>Collection One: Introduction to Value-Based Health Care:</strong> To receive AMA PRA Category 1 Credit(s)™, you must complete the evaluation survey through Dell Medical School, which becomes available once you complete Modules 1-3. The estimated time to complete this module is 2 hours and 45 minutes.
   <br><br>  
   The University of Texas at Austin Dell Medical School is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians. 
    <br><br>
	The University of Texas at Austin Dell Medical School designates this enduring material for a maximum of 2.75 AMA PRA Category 1 Credit(s)™. Physicians should claim only the credit commensurate with the extent of their participation in the activity. 
	<br><br><br>
  
  <strong>Collection Two: Value-Based Health Care Delivery:</strong>  To receive AMA PRA Category 1 Credit(s)™, you must complete the evaluation survey through Dell Medical School, which becomes available once you complete Modules 4 and 5. The estimated time to complete this module is 1 hour and 30 minutes.
  <br/><br/>
  The University of Texas at Austin Dell Medical School is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians.
  <br/><br/>
  The University of Texas at Austin Dell Medical School designates this enduring material for a maximum of 1.50 AMA PRA Category 1 Credit(s)™. Physicians should claim only the credit commensurate with the extent of their participation in the activity. 
  <br/><br/><br>
  
  
  <strong>Collection Three: Improving Value at the Bedside:</strong> To receive AMA PRA Category 1 Credit(s)™ you must complete the evaluation survey through Dell Medical School, which becomes available once you complete Modules 6 and 7. The estimated time to complete this module is 2 hours and 30 minutes.
  <br/><br/>
The University of Texas at Austin Dell Medical School is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians.
  <br/><br/>
The University of Texas at Austin Dell Medical School designates this enduring material for a maximum of 2.50 AMA PRA Category 1 Credit(s)™. Physicians should claim only the credit commensurate with the extent of their participation in the activity.
  <br/><br/><br>
  
   
  <strong>Collection Four: Improving Value in Systems:</strong> To receive AMA PRA Category 1 Credit(s)™ you must complete the evaluation survey through Dell Medical School, which becomes available once you complete Modules 8,9 and 10. The estimated time to complete this module is 3 hours. 
  <br/><br/>
The University of Texas at Austin Dell Medical School is accredited by the Accreditation Council for Continuing Medical Education (ACCME) to provide continuing medical education for physicians.
  <br/><br/>
The University of Texas at Austin Dell Medical School designates this enduring material for a maximum of 3 AMA PRA Category 1 Credit(s)™. Physicians should claim only the credit commensurate with the extent of their participation in the activity.
  <br/><br/> 
  </p>
</footer>


<div class="row" style="padding-top:2rem; margin: 0 3rem 0 3rem;">
<div class="col-xs-12 col-sm-4 col-lg-3" style="text-align:center;">
<img src="https://s3.us-east-2.amazonaws.com/dms-vbhc/img/aapa-cme-icon.png" class="img-responsive center-block" alt="AAPA Category 1 CME icon">
</div>
<div class="col-xs-12 col-sm-8 col-lg-9" style="padding-top:4rem;">
<p><strong>For PAs:</strong></p>
<p class="italic">This activity has been reviewed and is approved for a maximum of 2.75 AAPA Category 1 CME credit by the AAPA Review Panel. PAs should only claim credit commensurate with their participation in the CME activity. This program was planned in accordance with AAPA’s CME Standards for Enduring Material Programs and for Commercial Support of Enduring Material Programs. Approval valid until June 30, 2020.</p>
<p><u><strong>**AAPA CME Credit is only available for completion of Modules 1-3 for now.</strong></u></p>
<p>**PAs: Return to <a href="https://cme.aapa.org/Activity/5921892/Detail.aspx" class="ui-link">Learning Central</a> to complete the evaluation so that your certificate is generated.</p>



</div>
</div>

<!--
<footer>
  <img src="https://dms-vbhc.s3.amazonaws.com/TMA.png" alt="TMA Logo" style="float:left; margin-right: 1em;">
<br />
  <p class="italic" style="font-size:.9em;">This activity has been planned and implemented in accordance with the accreditation requirements and policies of the Texas Medical Association (TMA) through the joint providership of The University of Texas at Austin – University Health Services and Dell Medical School.  The University of Texas at Austin – University Health Services is accredited by TMA to provide continuing medical education for physicians.The University of Texas at Austin – University Health Services designates the above activity for a maximum of 2.75 AMA PRA Category 1 Credit(s)™. Physicians should claim only the credit commensurate with the extent of their participation in the activity.</p>
</footer>-->


</body>
</html>
