 .item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}
.m5s10p1 a {
    text-decoration: underline;
}
 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
 .b1  h2 {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
 .b1 .container p {
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}

 .m5s10s2  {

}
 .m5s10s2 h3 {
    font-family: "GothamHTF-Bold";
    margin-top: 50px;
    margin-bottom: 50px;     
}

 .m5s10s3 {
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img2.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;padding-top: 80px;
}

 .m5s10s3a { 
    padding-bottom: 80px;
    padding-top: 80px;   
    background-color: #3b4254;
    color: #fff;
}

 .m5s10s3a p {
    margin-bottom: 0px !important;
}

 .m5s10s4_pos { 
    padding-left: 16px;
}

 .m5s10s4_pos1 {
    z-index: 11;
    position: absolute;
    top: 10%;
    width: 64%;
    left: 21%;
    }
 .m5s10s4_pos2 { 
    padding-top: 96px;
}   
 .m5s10s4_pos3 { 
    padding-top: 76px;
}   

.m5s10p1 .m5s10s4 {    
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img3.png')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;padding-top: 80px;
}



 .m5s10s5 hr {
    margin-bottom: 8px !important;
}


 .m5s10s7 {    
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img4.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;padding-top: 80px;
}

 .m5s10s7a { 
    padding-bottom: 80px;
    padding-top: 80px;   
    background-color: #f4f4f4;    
}

 .m5s10s7a .Tbottom {
    margin-bottom: 0px !important;
}



 .m5s10s8 {    
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img5.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;padding-top: 80px;
}

 .m5s10s8a { 
    padding-bottom: 80px;
    padding-top: 80px;   
    background-color: #f4f4f4;    
}

 .m5s10s8a .Tbottom {
    margin-bottom: 0px !important;
}


 .circleMcq {
    height: 200px;
    width: 200px;
    border-radius: 100%;    
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
    padding: 18px;
}
 .circleMcqY {
    background-color: #e4c72b;
}
.m5s10p1 .circleMcqG {
    background-color:  #535B72;
    color: #fff;
}
.m5s10p1 .circleMcqGr {
    background-color:  #2cb69d;
}
.m5s10p1 .circleMcqRed {
    background-color:  #f06858;
}	    
.m5s10p1 .cTop {
    margin-top: 20px;
}

/* MCQ Css start  */


/* scatterplot */
 .ans,  .ansB ,  .ansC {
    padding: 12px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    /*border:2px solid #535B72;*/
    pointer-events: default;
}


 .m5s10mcqWrong {
    background-color: #f06858 !important;
    padding: 30px 30px 30px 30px;
    color: #fff;    
}
 .m5s10mcqWrong h4,  .m5s10mcqRight h4 {
    margin-top: 0px;
}
 .m5s10mcqRight {
    background-color: #2cb69d !important;
    padding: 30px 30px 20px 30px;
    color: #fff;    
}

 .pontNone {
    pointer-events: none !important;
}
 .default {
    pointer-events: default !important;
}
 .selectedWro{
    background: #f06858 !important;    
}
 .selectedRigh{
    background: #2cb69d !important;    
}

 .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}

 .m5s10mcq {
    padding-bottom: 0;
}

 .m5s10mcq p {
    font-size: 14px;
}

.white{
    background: white;
    padding: 30px 0;
}



 .calcHeight{
    display: table;
}
.calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
.text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
 .incorrect{
    background: #F06858;
}
 .correct{
    background: #2CB69D;
}
.Dis {
    pointer-events: none;
}
.incorrect .ques, .correct .ques{
    color: #fff;
}


.msg{
    display: none;
    color:#fff;
}
 .incorrect .incorrectMsg, .correct .correctMsg{
    display: block;
}
 .msg h3{
    color:#fff;
}

.incorrect .pageCount, .correct .pageCount{
    display: none;
}
 .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}




 /*#myCarousel .col-sm-4 div {
    font-family: "GothamHTF-Book" !important;
}*/

/* MCQ  end css */


/* for dND 1 Css */


 .m5s10s1 {
    background-color: #58627d;
    padding: 40px 40px 10px 40px;
    margin-top: 40px;
    margin-bottom: 0px;
}

 .m5s10s1c {
    margin-top: 50px;
}

 .m5s10s1 p {
    color: #fff;
}

 .ansBG {
    background-color: #28ae95;
    padding: 20px 30px 20px 30px;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
}

 .WrngBG {
    background-color: #f06858;
    padding: 20px 30px 30px 30px;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
}

 .m5s10s1 .drBox {
    color: #fff;
    border: 1px solid #fff;
    max-width: 240px;
    padding: 15px 10px; 
    font-family: "GothamHTF-Medium";
}
 .mdf {
    font-family: "GothamHTF-Medium";
}

.m5s10p1 .m5s10s1 .drga {
    background-color: #ececec;
    box-shadow:  0 0 10px  rgba(0,0,0,0.6);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0.6);
}
.m5s10p1 .m5s10s1 .drgaN {
    background-color: rgba(0,0,0,0);
    box-shadow:  0 0 10px  rgba(0,0,0,0);
    -moz-box-shadow: 0 0 10px  rgba(0,0,0,0);
    -webkit-box-shadow: 0 0 10px  rgba(0,0,0,0);
    -o-box-shadow: 0 0 10px  rgba(0,0,0,0);
}

.m5s10p1 .m5s10s1 .droa {
    font-family: "GothamHTF-Medium";
    width: 100%;
    height: 70px;
    position: absolute;    
    text-align: center;
    /*border: 1px solid #fff;*/
    left: 0px;
}

.m5s3p1 .m5s3s1 .drBox {
    color: #fff;
    border: 1px solid #fff;
    max-width: 285px;
    padding: 15px 10px; 
    font-family: "GothamHTF-Medium";
}


.m5s10p1 .m5s10s1 .dropTop {
    margin-top: 10px;
}

/* for DnD 2 */
.m5s10p1 .lineS10 {
    border-bottom: 2px solid #000;
    margin: 0;
    width: 92%;
    margin-top: 10px;
    margin-bottom: 10px;
}





/* DnD 3*/
.m5s10p1 .m5s10s6 {
    background-color: #ececec;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 50px; 
    padding-bottom: 50px; 
}
.m5s10p1 .m5s10s6 .well_3 {
    padding: 0px 50px 0px 70px;
}


.m5s10p1 .m5s10s6 .yyrD {
    background-color: #535B72;   
    padding: 10px;
    min-height: 40px;
    height: 100%;
}

.m5s10p1 .m5s10s6 .yyrD1 {
    background-color: #535B72;   
    padding: 10px;
    min-height: 100px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .yyrD2 {
    background-color: #535B72;   
    padding: 10px;
    min-height: 60px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .yyrD3 {
    background-color: #535B72;   
    padding: 10px;
    min-height: 80px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .yyr {
    background-color: #e5c93a;    
    font-family: "GothamHTF-Bold";
    padding: 10px; 
    text-transform: uppercase;
}
.m5s10p1 .m5s10s6 .gGr {
    background-color: #9ab7bd;
    padding: 10px;   
    
     position: initial;
    vertical-align: middle;    

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}
.m5s10p1 .m5s10s6 .Grn {
    background-color: #28ae95;
    padding: 10px;    

    position: initial;
    vertical-align: middle;    

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}


.m5s10p1 .m5s10s6 .droc {    
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    /*border: 1px solid #fff;*/
    left: 0px;    
    top: 0px; 
}



.m5s10p1 .m5s10s6 .drgc {
    /*width: 289px;*/
    width: 48%;

    /*height: 98px;*/
    position: absolute;
    cursor: pointer;
    z-index:10;
    /*text-align: center;*/    
    padding: 10px;
}
.m5s10p1 .m5s10s6 .drc {	
    background-color: #ececec;    
}

.m5s10p1 .bgGr {
    background-color: #535B72;
    height: 100%;
    min-height: 260px;
/*    margin-right: 25px;
    width: 48%;*/
    border-right: 20px solid #ececec;
}
.m5s10p1 .bgTr1 { 
    /*margin-right: 25px;
    width: 23%;*/
    border-right: 20px solid #ececec;
}
.m5s10p1 .bgTr2 { 
    margin-top: 20px;
}

.m5s10p1 .m5s10s6 .d3Hight0 { 
    min-height: 100px;
    height: 100%;
}

.m5s10p1 .m5s10s6 .d3Hight1 { 
    min-height: 120px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .d3Hight2 { 
    min-height: 140px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .d3Hight3 { 
    min-height: 100px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .d3Hight4 { 
    min-height: 120px;
    height: 100%;
}
.m5s10p1 .m5s10s6 .d3Hight5 { 
    min-height: 80px;
    height: 100%;
}

#dragsc0 {
    top: 75px;
    left: 150px;    
}
#dragsc1 {
    top: 75px;
    left: 150px;
}
#dragsc2 {
    top: 75px;
    left: 150px;
}
#dragsc3 {
    top: 75px;
    left: 150px;
}
#dragsc4 {
    top: 75px;
    left: 150px;
}
#dragsc5 {
    top: 75px;
    left: 150px;
}

.m5s10p1 .mmc1 .col-sm-10 .row .col-sm-4 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.m5s10p1 .mmc2 .col-sm-10 .row .col-sm-4 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

 .m5s10p8_iPad {
    display: none;
}

.m5s10p1 .hrWidth {
    width: 100%;
}

@media screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
     .b1 {
        margin-bottom: 0px;
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img1.png') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-color: #060;    color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        background-color: #fff;
        min-height: 500px;    
    }


  .b1 h2 {
        font-family: "GothamHTF-Bold";
        font-size: 124%;
        width: 70%;
    }

 .b1 .container p {
        font-family: "GothamHTF-Bold";
        font-size: 107%;
        width: 42%;
    }
 .s3hide {
        display: none;
    }

    .col-sm-10 .col-sm-4 {
        width: 100%;
    }

  .m5s10s4_pos { 
    padding-left: 0px;
}
 .m5s10s4_pos1 {
    left: 18%;
    top:12%;
}
 .m5s10s4_pos2 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}   
 .m5s10s4_pos3 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

 .m5s10s4_pos4 {
     padding-left: 15px;
    padding-right: 15px;   
}   
 .m5s10s4_NeedRef .col-sm-2, .m5s10p1 .m5s10s4_NeedRef .col-sm-8   {
    width: 100%;
}

 .m5s10p8_iPad {
    display: block;
}
 .m5s10p8_D {
    display: none;
}


}

@media only screen and (max-width: 1024px) {

    .m5s10p1 .m5s10s4a {    
        min-height: 721px;
    }

    .m5s10p1 .lineS10 {
        width: 100%;
    }
    .m5s10p1 .m5s10s4 .drob {
        margin-left: 3px;
        width: 98%;
    }
.m5s10p1 .hrWidth {
    width: 32%;
}


}

@media only screen and (max-width: 768px) {
 
    .m5s10p1 .m5s10s4a {    
        min-height: 741px;
    }
    .m5s10p1 .m5s10s4 .drgb{
        width: 216px;
    }
    #dragsb0 {
        top: 10px;
        left: -33px;
        padding-top: 12px;
    }
    #dragsb4 {
        top: 95px;
        left: 316px;
        padding-top: 12px;
    }
    #valueBased {
        margin-left: -60px;
    }
    .m5s10p1 .hrWidth {
    width: 44%;
    }

}



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {
    .m5s10p1 .b1 {
        margin-bottom: 0px;
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
    }


    .m5s10p1 .m5s10s7 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
    }

    .m5s10p1 .m5s10s8 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img5.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
    }

    .m5s10p1 .m5s10s4 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
    }

    .m5s10p1 .m5s10s3 {
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img2.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
    }


    .m5s10p1 .b1 h2 {
        font-family: "GothamHTF-Bold";
        font-size: 124%;
        width: 70%;
    }
    .m5s10p1 .b1 .container p{
        font-size: 107%;
        width: 42%;
        font-family: "GothamHTF-Bold";
    }
    .m5s10p1 .s3hide {
        display: none;
    }

    .m5s10p1 .m5s10s7a { 
        padding-bottom: 40px;
        padding-top: 40px;    
    }
    .m5s10p1 .m5s10s8a { 
        padding-bottom: 40px;
        padding-top: 40px;   
    }

    .m5s10p1 .circleMcq {
        height: 100%;
        width: 28%;
        border-radius: 0px !important;     
        padding: 10px;
    }

    .m5s10p1 .cTop {
        padding-right: 15px !important;
        padding-left: 15px !important;    
        margin-top: 10px;
    }

.m5s10p1 .m5s10s4_pos { 
    padding-left: 0px;
}
 .m5s10s4_pos1 {
    left: 42%;
    top:8%;
}
 .m5s10s4_pos2 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}   
.m5s10p1 .m5s10s4_pos3 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.m5s10p1 .m5s10s4_pos4 {
     padding-left: 15px;
    padding-right: 15px;   
}

 .m5s10p8_iPad {
    display: block;
}
.m5s10p1 .m5s10p8_D {
    display: none;
}
.m5s10p1 .hrWidth {
    width: 50%;
}

}


@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
    .m5s10p1 .b1 {
        margin-bottom: 0px;
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img1.png') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-color: #060;    color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        background-color: #fff;
        min-height: 500px;    
    }

    .m5s10p1 .m5s10s7 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
    }

    .m5s10p1 .m5s10s8 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img5.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
    }

    .m5s10p1 .m5s10s4 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
        margin-bottom:30px; 
    }

    .m5s10p1 .m5s10s3 {
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img2.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
    }

    .m5s10p1 .b1 h2 {  
        font-family: "GothamHTF-Bold";
        font-size: 103%;
        width: 90%;
    }

    .m5s10p1 .b1 .container p{
        font-family: "GothamHTF-Bold";
        font-size: 83%;
        width: 65%;
    }

    .m5s10p1 .s3hide {
        display: none;
    }
    .m5s10p1 .m5s10s7a { 
        padding-bottom: 30px;
        padding-top: 30px;    
    }
    .m5s10p1 .m5s10s8a { 
        padding-bottom: 30px;
        padding-top: 30px;   
    }
    .m5s10p1 .circleMcq {
        height: 100%;
        width: 28%;
        border-radius: 0% !important; 
        padding: 10px;
    }

    .m5s10p1 .cTop {
        padding-right: 15px !important;
        padding-left: 15px !important;   
        margin-top: 10px; 
    }
.m5s10p1 .m5s10s4_pos { 
    padding-left: 0px;
}
 .m5s10s4_pos1 {
    left: 18%;
    top:12%;
}
 .m5s10s4_pos2 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}   
.m5s10p1 .m5s10s4_pos3 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.m5s10p1 .m5s10s4_pos4 {
     padding-left: 15px;
    padding-right: 15px;   
}

 .m5s10p8_iPad {
    display: block;
}
.m5s10p1 .m5s10p8_D {
    display: none;
}
.m5s10p1 .hrWidth {
    width: 50%;
}

}

@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
.m5s10p1 .b1 {
        margin-bottom: 0px;
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img1.png') no-repeat center center; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 100%;
        background-color: #060;    color: white;
        text-shadow: black 0.3em 0.3em 0.3em;
        background-color: #fff;
        min-height: 500px;    
    }
.m5s10p1 .m5s10s7 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img4.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        height: auto;    
        width: auto;    
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 0px
    }

.m5s10p1 .m5s10s8 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img5.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        height: auto;    
        width: auto;    
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 0px
            margin-top: 0px
    }

.m5s10p1 .m5s10s4 {    
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img3.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        height: auto;    
        width: auto;    
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom:30px; 
    }

.m5s10p1 .m5s10s3 {
        background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img2.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;  
        height: auto;    
        width: auto;    
        padding-bottom: 40px;
        padding-top: 40px;
        margin-bottom: 0px
    }
.m5s10p1 .b1 h2 {  
        font-family: "GothamHTF-Bold";
        font-size: 48%;
        width: 86%;
    }

.m5s10p1 .b1 .container p{
        font-family: "GothamHTF-Bold";
        font-size: 42%;
        width: 60%;
    }

.m5s10p1 .s3hide {
        display: none;
    }
.m5s10p1 .m5s10s7a { 
        padding-bottom: 30px;
        padding-top: 30px;    
    }
.m5s10p1 .m5s10s8a { 
        padding-bottom: 30px;
        padding-top: 30px;   
    }

.m5s10p1 .circleMcq {
        height: 100%;
        width: 50%;
        border-radius: 0% !important; 
        padding: 10px;
    }

.m5s10p1 .cTop {
        padding-right: 15px !important;
        padding-left: 15px !important;    
        margin-top: 10px;
    }

 .m5s10s4_pos { 
    padding-left: 0px;
}
 .m5s10s4_pos1 {
    left: 18%;
    top:12%;
}
 .m5s10s4_pos2 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}   
 .m5s10s4_pos3 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
 .m5s10s4_pos4 {
     padding-left: 15px;
    padding-right: 15px;   
}

 .m5s10p8_iPad {
    display: block;
}
 .m5s10p8_D {
    display: none;
}
 .hrWidth {
    width: 50%;
}

}



@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {

    .m5s10p1 .s1bgcol .response1 .form-control{ 
        font-size:9px !important;

    }

    .m5s10p1 .s1bgcol .response1 .btn-info {
        font-size: 10px;
        width: 81px;
    }
    .m5s10p1 .m5s10s7a { 
        padding-bottom: 30px;
        padding-top: 30px;    
    }
    .m5s10p1 .m5s10s8a { 
        padding-bottom: 30px;
        padding-top: 30px;   
    }
    .m5s10p1 .circleMcq {
        height: 100%;
        width: 50%;
        border-radius: 0% !important; 
        padding: 10px;
    }

    .m5s10p1 .cTop {
        padding-right: 15px !important;
        padding-left: 15px !important;    
        margin-top: 10px;
    }
    
 .m5s10p1 .m5s10s4_pos { 
    padding-left: 0px;
}
 .m5s10s4_pos1 {
    left: 18%;
    top:12%;
}
 .m5s10s4_pos2 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}   
.m5s10p1 .m5s10s4_pos3 { 
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.m5s10p1 .m5s10s4_pos4 {
     padding-left: 15px;
    padding-right: 15px;   
}   
 .m5s10p8_iPad {
    display: block;
}
.m5s10p1 .m5s10p8_D {
    display: none;
}
.m5s10p1 .hrWidth {
    width: 50%;
}

}




@media only screen and (min-width : 768px) {
  .row-eq-height {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
    }
     .ans {
         margin: 0;
         padding: 4px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
    }
    .ansB {
         margin: 0;
         padding: 4px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
    }
    .ansC {
         margin: 0;
         padding: 4px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
    }
 .msg{
         text-align: left;
    }
    /*.scatterplot .incorrect .incorrectMsg div[class^="col"],.scatterplot .correct .correctMsg div[class^="col"]{
         padding-top: 13px;
    }
    */
}

.m5s10tbl{
    width: 100%;
    text-align: center;
    vertical-align: central;
    height: 150px;
}