<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
from django.contrib.staticfiles.storage import staticfiles_storage
%>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="stylesheet" href="${staticfiles_storage.url('vendor/bootstrap/css/bootstrap.min.css')}" type="text/css" />
  <!-- Custom styles for this template -->
  <link rel="stylesheet" href="${staticfiles_storage.url('css/modern-business.css')}" type="text/css" />
  <link rel="stylesheet" href="${staticfiles_storage.url('css/overrides.css')}" type="text/css" />
  <link rel="stylesheet" href="${staticfiles_storage.url('css/font-awesome.min.css')}" type="text/css" />
  <link href="${staticfiles_storage.url('css/font.css')}" rel="stylesheet" type="text/css" />

<body>

  <header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url(${staticfiles_storage.url('images/s2.jpg')})">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="slider-caption">First Slide</h3><br><br>
            <p class="slider-caption">This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url(${staticfiles_storage.url('images/s3.jpg')})">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="slider-caption">Second Slide</h3><br><br>
            <p class="slider-caption">This is a description for the second slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">-->
      <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>-->
        <!--<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>-->
      <!--</ol>-->
      <!--<div class="carousel-inner" role="listbox">-->
        <!--&lt;!&ndash; Slide One - Set the background image for this slide in the line below &ndash;&gt;-->
        <!--<div class="carousel-item active" style="background-image: url(${staticfiles_storage.url('images/t.jpg')})">-->
         <!--&lt;!&ndash; <img src="${staticfiles_storage.url('images/s1.jpg')}" alt=""> &ndash;&gt;-->
          <!--&lt;!&ndash; <div class="carousel-item active"> &ndash;&gt;-->
          <!--&lt;!&ndash; <img src="${staticfiles_storage.url('images/t.jpg')}" alt=""> &ndash;&gt;-->
          <!--<div class="carousel-caption d-none d-md-block">-->
            <!--<h3>First Slide</h3>-->
            <!--<p>This is a description for the first slide.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Slide Two - Set the background image for this slide in the line below &ndash;&gt;-->
        <!--<div class="carousel-item" style="background-image: url(${staticfiles_storage.url('images/s2.jpg')})">-->
        <!--&lt;!&ndash; <div class="carousel-item"> &ndash;&gt;-->
          <!--&lt;!&ndash; <img src="${staticfiles_storage.url('images/s2.jpg')}" alt=""> &ndash;&gt;-->
          <!--<div class="carousel-caption d-none d-md-block">-->
            <!--<h3>Second Slide</h3>-->
            <!--<p>This is a description for the second slide.</p>-->
          <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash; Slide Three - Set the background image for this slide in the line below &ndash;&gt;-->
        <!--<div class="carousel-item" style="background-image: url(${staticfiles_storage.url('images/s3.jpg')})">-->
        <!--&lt;!&ndash; <div class="carousel-item"> &ndash;&gt;-->
          <!--&lt;!&ndash; <img src="${staticfiles_storage.url('images/s3.jpg')}" alt=""> &ndash;&gt;-->
          <!--<div class="carousel-caption d-none d-md-block">-->
            <!--<h3>Third Slide</h3>-->
            <!--<p>This is a description for the third slide.</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">-->
        <!--<span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Previous</span>-->
      <!--</a>-->
      <!--<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">-->
        <!--<span class="carousel-control-next-icon" aria-hidden="true"></span>-->
        <!--<span class="sr-only">Next</span>-->
      <!--</a>-->
    <!--</div>-->
  </header>

  <!-- Search courses -->
  <!-- <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bgColor">
        <div class="input-group courseSearch">
          <span class="search-title">Search for Course </span>
            % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div class="course-search">
              <form method="get" action="/courses">
                <label><span class="form-control">${_("Search for a course")}</span>
                  <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                </label> -->
                <!-- <button class="" type="submit">
                  <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                </button> -->
               <!--  <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
              </form>
            </div>
            % endif
        </div>
      </div>
    </div>
  </div> -->



 <!--  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bgColor">

        <div class="input-group courseSearch">

          <span class="search-title">Search for Course </span>
          % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div class="input-group-prepend">
                <label><span class="form-control">${_("Search for a course")}</span>
                  <input class="search-input" name="search_query" type="text" placeholder="${_("Search for a course")}"></input>
                </label>
                <button class="" type="submit">
                  <span class="icon fa fa-search" aria-hidden="true"></span><span class="sr">${_("Search")}</span>
                </button>
                <input type="text" class="form-control"style="border:none;">
                <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
            </div>
          % endif
          
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div> -->


  
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 bgColor">

        <div class="input-group courseSearch">
          <span class="search-title">Search for Course </span>
          <!-- <div class="input-group-prepend">
            <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" style="border: none;border-right: 1px solid #aaa;"
              aria-haspopup="true" aria-expanded="false">-- All Categories --</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Course 1</a>
              <a class="dropdown-item" href="#">Course 2</a>
              <a class="dropdown-item" href="#">Course 3</a>
            </div>
          </div> -->
          <input type="text" class="form-control"style="border:none;">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>









 <!-- Page Content -->
  <div class="container">
    <!-- Portfolio Section -->
    <h2 class="mt-5 mb-3 text-center">Popular Courses</h2>
    <p class="mb-3 text-center short-border robato-cnd"><i>ALL THE TOP POPULAR COURSES WE OFFERED</i></p>
    <div class="row">
      <%include file="${courses_list}" />
    </div>
     
  </div>
  <!-- /.container -->

  <!-- /.container -->

  <div class="container-fluid">
      <h2 class="mt-5 mb-3 text-center">Testimonials</h2>
    <p class="mb-3 text-center short-border uppercase robato-cnd"><i>What our students say</i></p>
    <div class='row'>
      <div class='col-md-12'>
        <div class="testimonial">
            <div class="overlay-bg-img overlay-bg-vc"></div>
          <div class="overlay-bg-vc" style="background-color: rgba(22,34,64,0.85);"></div>
          <!-- Carousel Slides / Quotes -->
          <div id="quote-carousel" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
              <li data-target="#quote-carousel" data-slide-to="1"></li>
              <li data-target="#quote-carousel" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="blockquote">
                  <div class="row">
                    <div class="col-sm-3 text-right">
                      <img class="rounded-circle" src="http://www.reactiongifs.com/r/overbite.gif" style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit!</p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="blockquote">
                  <div class="row">
                    <div class="col-sm-3 text-right">
                      <img class="rounded-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/mijustin/128.jpg"
                        style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam auctor nec lacus ut tempor.
                        Mauris.</p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="blockquote">
                  <div class="row">
                    <div class="col-sm-3 text-right">
                      <img class="rounded-circle" src="https://s3.amazonaws.com/uifaces/faces/twitter/keizgoesboom/128.jpg"
                        style="width: 100px;height:100px;">
                    </div>
                    <div class="col-sm-9">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rutrum elit in arcu blandit, eget
                        pretium nisl accumsan. Sed ultricies commodo tortor, eu pretium mauris.</p>
                      <small>Someone famous</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#quote-carousel" data-slide="prev">
              <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </a>
            <a class="carousel-control-next" href="#quote-carousel" data-slide="next">
              <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </a>

          </div>
        </div>


      </div>
    </div>
  </div>

<div class="container">
    <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
        <a href="#"><img src="${staticfiles_storage.url('images/clients/partner-1.png')}" alt=""></a>
        <a href="#"><img src="${staticfiles_storage.url('images/clients/partner-2.png')}" alt=""></a>
        <a href="#"><img src="${staticfiles_storage.url('images/clients/partner-3.png')}" alt=""></a>
        <a href="#"><img src="${staticfiles_storage.url('images/clients/partner-4.png')}" alt=""></a>
        <a href="#"><img src="${staticfiles_storage.url('images/clients/partner-5.png')}" alt=""></a>
    </div>
</div>

  <!-- Footer -->
 <!--  <footer class="mt-5 py-5 bg-dark" style="min-height: 250px;">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
    </div>
  </footer> -->

  <!-- Bootstrap core JavaScript -->
  <!-- <script src="${staticfiles_storage.url('vendor/jquery/jquery.min.js')}"></script> -->
  <script src="${staticfiles_storage.url('vendor/bootstrap/js/bootstrap.bundle.min.js')}"></script>
</body>

</html>