<%page args="section_data" expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
%if section_data['access']['staff'] or section_data['access']['instructor']:
<head>
<style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}

h3.hd-3{
  font-weight: bold;
}
</style>
</head>

<form action="" method="GET">
	<input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}">
	<input type="text" placeholder="Search using email/username" name="q" style="width: 300px">
  	<button type="submit"><i class="fa fa-search"></i></button>
</form><br>


%if section_data['all_organization_base_records']:
<div class="action-type-container">


<h2><b>Learner Details</b></h2>
<table>
<tr> <!-- Header Row -->
<th title="">User</th>
<th title="">Username</th>
<th title="">Course</th>
<th title="">Grade</th>
<th title="">Organization</th>
<th title="">Coherts</th>
<th title="">Course Progres</th>
</tr>
%for row in section_data['all_organization_base_records']:


<tr class="">

<td >
<div style="word-wrap: break-word;">
${_("{user_email}").format(user_email=row.user_id.email)}
</div>
</td>

<td >
<div style="word-wrap: break-word;">
${_("{user_email}").format(user_email=row.user_id.username)}
</div>
</td>



<td>
<div style="word-wrap: break-word;">${_("{user_email}").format(user_email=row.course_id)}
</div>
</td>

<td >${_("{Total_grade}").format(Total_grade=row.Total_grade)}</td>
<td >${_("{organization}").format(organization=row.organization_name)}</td>
<td >${_("{coherts}").format(coherts=row.coherts_name.coherts_name)}</td>



<td >${_("{student_course_progress}").format(student_course_progress=row.student_course_progress)}</td>
</tr>


% endfor
<!-- <tr class="highlight"> -->
</table>

</div>
% else:
<p style="margin-left: 40px;margin-top: 10px;color: black;"><b>No data found</b></p>

%endif
	
%endif