.item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;    
}
.item a:hover {
       text-decoration: underline;
}
 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p1.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;        
}
 #myCarousel .col-sm-4 div,  #myCarousel .col-sm-3 div,  #myCarousel .col-sm-2 div {
    font-size: 12px;
    font-family: "GothamHTF-Medium";
    overflow: hidden;
}
 .b1  h2{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    font-family: "GothamHTF-Bold";
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
 .lineheight{line-height:410px;}
 .carousel-indicators {
    bottom: 20px;
}

 .carousel-indicators .active {
    background-color: #999;
}
.carousel-indicators li {
    background-color: #ccc;
}


  .panel-title>a,  .panel-title>a:active {
    display: block;
    padding: 10px;
    letter-spacing: 1px;
    word-spacing: 3px;
    text-decoration: none;
}
  .panel-heading .accordion-toggle:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    /* float: right; */
    /* color: grey; */
    margin-left: -30px;
}

  .panel-group {
   /* background-color:#f4f4f4!important; */
   padding-top: 10px;
   padding-bottom:20px;
}

 .panel-group .panel-default > .panel-heading {
    background-color:#f4f4f4!important;
    padding-left: 35px; padding-top:0px; padding-bottom:0px
}
  .panel-group .panel-body {
    background-color:#f4f4f4!important; padding-right:20px!important;;
}
   .panel-group .panel-body li{line-height:22px; margin-bottom:15px;}
  .panel-group .panel-body ol,   .panel-group .panel-body ul {padding-left: 25px;}
  .panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color:#f4f4f4!important;
    /* border-bottom-color: #f4f4f4!important; */
}
 .panel-group .panel-heading .panel-title {
    font-size: 100% !important;
}
 .panel-group .panel+.panel {
    margin-top: 0px;
    box-shadow: 0 0px 0px rgba(0,0,0,.05);
}

/* accordion */

 .panel-heading .accordion-toggle.RightArrow:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    /*float: right;*/        /* adjust as needed */
    /*color: grey;*/         /* adjust as needed */
}
 .panel-heading .accordion-toggle.DownArrow:before {
    /* symbol for "collapsed" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e113";    /* adjust as needed, taken from bootstrap.css */
}

 .b1 .container p{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    font-family: "GothamHTF-Bold";
}

 .m7s4s1 h3,  .m7s4b4a h4,  .m7s4b5 h4,  .m7s4b11 h3,  .m7s4b13 h3,  .m7s4b14 h4,  .m7s4b9 h3,  .m7s4b5 h3,  .m7s4s3 h3 {
    font-family: "GothamHTF-Bold";    
}

 .m7s4b5 .head{
    background: #3b4254;
    color: #fff;
    font-family: "GothamHTF-Medium";
    height: 60px;
    padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border:1px #f4f4f4 solid;
 }
 .m7s4b5 .col1{
    background:#ee604c;   height: 120px;
	padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	border:1px #f4f4f4 solid;
	font-size:95%;
	}
 .m7s4b5 .col2{
    background:#f59e94;  height: 120px;
	padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	border:1px #f4f4f4 solid;
		font-size:95%;
	}
 .m7s4b5 .col3{
    background:#25ad95;	 height: 120px;
	padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	border:1px #f4f4f4 solid;
		font-size:95%;
	}
 .m7s4b5 .col4{
    background:#7ccfbf;  height: 120px;
	padding: 8px;
    align-items: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
	border:1px #f4f4f4 solid;
		font-size:95%;
	}

 .m7s4s2 {
    margin-bottom: 10px !important;
    padding-bottom: 28px !important;
 }
 .m7s4s2 p{
    font-size: 14px;
 }
 .m7s4s3 {
    margin-top: 50px;
    margin-bottom: 50px;
}
 .m7s4b2 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p2.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
 .m7s4b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
 .m7s4b2 .m7s4b4a {
    height: auto;
    padding: 40px 20px 50px 20px;
    background-color: #ffffff;
    color:#222;
}
.m7s4b2 .bg2{background:#f4f4f4;  padding:40px; padding-bottom:30px;}
 .link1{cursor:pointer; border:1px #f48221 solid; font-family: "GothamHTF-Medium"; padding:10px 15px 10px 15px; color:#f48221; margin:0 auto;}
 .m7s4b4a {
    height: auto;
    padding: 40px 40px 50px 40px;   
    /*background-color: rgba(54,84,92,0.8);*/
	background:#3b4254;
    color: #fff;
}
 .m7s4b4a .line4a {
    border-bottom: 2px solid #DCDDDF;
    margin: 20px auto;
    width: 100%;
}
 .m7s4b4a p,  .m7s4b4b p {
    font-size: 14px;   
}
 .m7s4b4b {
    height: auto;
    padding: 40px;    
    background-color: #fff;    
}
.bg2 .line4 {
    border-bottom: 2px solid #DCDDDF;
    margin: 0px auto;
    margin-bottom: 20px!important;
    margin-top: 20px;
    width: 30%;
}
 .m7s4b5 {
    margin-top: 50px;
    margin-bottom: 50px;
}
 .m7s4b5a {
    background-color: #535b72;
    padding: 20px;
    color: #fff;    
}
 .m7s4b5b {
    background-color: #f3f5f4;
    padding: 20px 0px 20px 0px;    
}
 .m7s4b5c {
    background-color: #d0dae4;
    padding: 20px 0px 12px 0px;    
}

 .m7s4b10 {
    background-color: #28ae95;
    padding: 50px 0px 40px 0px;
    margin-bottom: 60px;
    color: #fff;    
}
 .m7s4b11 {
    margin-bottom: 50px;
}
 .m7s4b12 {
    margin-bottom: 10px;
}

 .s1bgcol{    
    width: 100%; 
    padding-top: 40px;
    padding-bottom: 0px;
}
 .s1bgcol .response1{
    background-color: #f0f0f0;   
}
 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
 .s1bgcol .response1 .btn-info{
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
 .s1bgcol .response1 .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}
 .m7s4b13 {
    margin-bottom: 50px;
    margin-top: 30px;
}
 .m7s4b14 {
    background-color: #535b72;
    color: #fff;
    padding: 20px 0px 20px 0px;
}

 .m7s4b14a {
    background-color: #3b4254;
    color: #fff;
    padding: 30px 0px 30px 0px;
}

 .m7s4b15{
    margin-top: 30px;
    margin-bottom: 50px;
}

 .m7s4b15 ol {
    margin-left: -22px;    
    font-family: "GothamHTF-Medium";        
}

 .m7s4b15 h5 {    
    font-family: "GothamHTF-Medium";        
}
 .s1bgcol3{
    background-color:#f48221;
    width: 100%;
    padding: 0;
	color:#ffffff;
}
 .s1bgcol3 .well {
   margin-bottom:0px;
   padding-bottom:0px;
}
 .s1bgcol3 .well p{
 color: #ffffff;
 font-size: 22px;
}
 .s1bgcol3 .well .small{
    color: #F68223;
   font-size: 15px;
   width: 250px;
}
 .s1bgcol3 h6 {
    color: #ffffff;
    font-family: "GothamHTF-Medium";
}
  .vertical-align_1 {
    align-items: center;
    display: flex;
}
 .m7s4b9 {
    margin-bottom: 60px;
    margin-top: 60px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
 .m7s4b9a {       
    height: auto;     
    padding: 50px;    
    background-color: #fff;
}
 .m7s4b9a p {
    font-size: 14px;
    font-family: "GothamHTF-Medium";
}
 .m7s4b9a h6 {
    font-size: 14px;
    color: #f4821f;
    font-weight: 600;
    margin-top: 40px;
}
 .m7s4b9a a {
    color: #f4821f;
    font-size: 95%;
    border: 1px #f4821f solid;
    padding: 10px;
}

 .m7s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s7img4.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    /*padding-top: 80px;*/
    padding-bottom: 80px;
    border-radius: 0px; 
}
 .m7s4b6 h2 {
    color:#fff;
    font-family: "GothamHTF-Bold";
 }

 .m7s4b7 {   
    height: 100%;
  }

 .m7s4b7 .col-sm-9 .well p:nth-child(1){
    color: #f68121;
    font-family: "GothamHTF-Medium";  
}
 .m7s4b7 .col-sm-9 .well p:nth-child(2){
    font-family: "GothamHTF-Bold";
    font-size: 18px !important;
}
 .m7s4b7 .col-sm-9 .well p:nth-child(3){
    font-family: "GothamHTF-Medium";    
}
 .m7s4b7 .col-sm-9 .well p:nth-child(4){
    font-family: "GothamHTF-BookItalic";    
    font-size: 12px !important;
    overflow-wrap: break-word;
}

 .jumbotron .m7s4b7 p {
    font-size: 14px !important;
}
.m7s4p1 .vertical-align {
    align-items: center;
    display: flex;
}

  .m7s4b7 .col-sm-12 .well1{
   background: #f5f5f5 none repeat scroll 0 0;
    border-radius: 0;
    height: 100%;
    margin-bottom: 15px;
    padding-bottom: 0;
    padding-top: 0;
    padding-left: 15px;    
}
.m7s4p1  .m7s4b7 .col-sm-9 {  
    height: 100%;
    padding-left: 0;
}
.m7s4p1  .m7s4b7 .col-sm-9 .well{   
     background:#fff;
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;       
}
.m7s4p1  .m7s4b7 .well1 .row{   
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;
}
.m7s4p1 .m7s4s8 ol {
    margin-left: -22px;    
    font-family: "GothamHTF-Medium";        
}
.m7s4p1 .m7s4s8 h5 {    
    font-family: "GothamHTF-Medium";        
}

.m7s4p1 .boldT {
    font-family: "GothamHTF-Bold";
}

.m7s4p1 .s1bgcol{
    /*background-color: #fff;*/
    width: 100%; 
    padding-top: 40px;
    padding-bottom: 0px;
}
.m7s4p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}

.m7s4p1 .s1bgcol .response1 .navbar-form {
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.m7s4p1 .s1bgcol .response1 .btn-info {
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
.m7s4p1 .s1bgcol .response1 .form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}
.m7s4p1 .well {
    background:none;
    border: 0px solid #e3e3e3;
    box-shadow:none;
    vertical-align: :center;
}

.m7s4p1 .m7s4b17_C {
    background-color: #f3f5f4;
    height: 100%;
    padding-top: 50px;
    margin-top: 50px;
}    


/* scatterplot */

 .m6s7mcq {
    padding-bottom: 0;
    /*min-height: 490px;*/
    margin-top: 0px;
}
 .m6s7mcq p {
    font-size: 14px;
}
 .white{
    background-color: #f3f5f4;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

.ques {
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}

 .m6s7mcq ul {
    color: #3C4252;
    font-size: 14px;
    font-weight: 600;
}

.ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;   
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

  .calcHeight{
    display: table;
}
.calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
 .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.incorrect{
    background: #F06858;
}
.correct{
    background: #2CB69D;
}
.Dis {
    pointer-events: none;
}

 .incorrect .ques, .correct .ques,    .incorrect ul, .correct ul  

{
    color: #fff;
}
 .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
 .msg{
    display: none;
    color:#fff;
}
 .incorrect .incorrectMsg, .correct .correctMsg{
    display: block;
}
 .msg h3{
    color:#fff;
}
 .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
.incorrect .pageCount, .correct .pageCount{
    display: none;
}
.correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
 .correctMsg .fa{
    font-size: 17px;
}
.sign .fa{
    color: white;
}
.incorrect .sign .fa-times, .correct .sign .fa-check{
    display: block !important;
}
.popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}

.popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
 .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}


.correct h4,  .incorrect h4 {
    color: #fff;
}
 #b1 .col-sm-4 {
    padding:10px;
}
.m7s4p1 .vdoiframe{width:100%;height: 660px;border:0;overflow:hidden;}
.vdodiv{margin:0 auto;padding-right: 7px;padding-left: 7px;}
.m7s4p1 #b1 .myDiv0 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 100%;
    margin-left: 0;
    margin-top: -54.2%;
    position: absolute;
    width: 96.6%;
    z-index: 99;
}
.m7s4p1 #b1 #myDiv1  {
   font-size: 14px;
   color: #fff;
   font-family: "GothamHTF-Medium";
   position: relative;
   top: 1%;
}
.m7s4p1 #b1 #myDiv2  {
    position: relative;     
}

.m7s4p1 #b1 .btSize  {
    font-size: 11px;
}

 #b1 #myDiv3 {
    font-family: "GothamHTF-Medium";
    position: relative;
    color: #fff;
     font-size:24px;   
 }

/*.m7s4p1 #b1 .btn {
      background: #28ae95 none repeat scroll 0 0 !important;
      /* border: medium none; */
      /* border-radius: 0; */
      /* margin: 5px; 
      width: 100% !important;
}
*/
 #b1 .feedback.Incorrect {
	display:none;
	background: #f06858;
    height: 102%;
    margin-left: 0;
    margin-top: -54.8%;
    position: absolute;
    width: 97%;
    z-index: 9999;
}
 #b1 .feedback.Correct {
	display:none;
	background: #2cb69d;
    height: 102%;
    margin-left: 0;
    margin-top: -54.8%;
    position: absolute;
    width: 97%;
    z-index: 9999;
}

 #b1 .textFeedb {
	 padding: 60px;
	 color: #ffffff;
}
 .feedback .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
 .ans2{height:auto!important;}
/*.m7s4p1 #b1 .FText a{color:#f48221;}
*/
@media only screen and (min-width: 1025px) {
 #b1 .btSize  {
    font-size: 14px;
}
  .msgBtn {
    background: #fff;
    width: 200px;
    color: #F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
}
@media screen
and (min-device-width : 1025px)
and (max-device-width : 1423px) {
.m7s4p1 .vdoiframe{width:100%;height: 570px;border:0;overflow:hidden;}
}


/* for big screen apple screen */
  @media screen
and (min-device-width : 1125px)
and (max-device-width : 2250px) { 
 .ans2{height:160px!important;}
@supports (overflow:-webkit-marquee) and (justify-content:inherit) {
.m7s4p1 .vdoiframe{width:100%;height: 740px!important; border:0;overflow:hidden;}
}
}

 @media screen
and (min-device-width : 769px)
and (max-device-width : 1024px) {
 .ans2{height:210px!important;}
.m7s4p1 .m7s4b5{font-size:90%!important;}
.m7s4p1 .m7s4b5 .col1, .m7s4p1 .m7s4b5 .col2, .m7s4p1 .m7s4b5 .col3, .m7s4p1 .m7s4b5 .col4{height: 165px;} 
.m7s4p1 #b1 .myDiv0 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 102%;
    margin-left: 0;
    margin-top: -54.2%;
    position: absolute;
    width: 96%;
    z-index: 99;
}

.m7s4p1 #b1 #myDiv1  {
   font-size: 12px;
   color: #fff;
   font-family: "GothamHTF-Medium";
   position: relative;
   top: 1%;
}
.m7s4p1 #b1 #myDiv2  {
    position: relative;     
}

.m7s4p1 #b1 .btSize  {
    font-size: 10px;
}

.m7s4p1 #b1 #myDiv3 {
    font-family: "GothamHTF-Medium";
    position: relative;
    color: #fff;
     font-size:24px;   
 }
.m7s4p1 #b1 .col-sm-4 {
    padding:10px;
}
.m7s4p1 #b1 .btn {
    /*  background: #28ae95 none repeat scroll 0 0 !important;
      border: medium none;
      border-radius: 0;
      margin: 0px;
      max-width: 100% !important;*/
}

.m7s4p1 #b1 .feedback.Incorrect {
	display:none;
	background: #f06858;
	height: 104%;
	margin-left: 0;
	margin-top: -55.8%;
	position: absolute;
	width: 96%;
	z-index: 9999;
}
.m7s4p1 #b1 .feedback.Correct {
	display:none;
	background: #2cb69d;
	height: 102%;
	margin-left: 0;
	margin-top: -54.2%;
	position: absolute;
	width: 96%;
	z-index: 9999;
}

.m7s4p1 #b1 .textFeedb {
	 padding: 40px;
	 color: #ffffff;
}
.m7s4p1 .feedback .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.m7s4p1 .s1bgcol3 .col-sm-4, .m7s4p1 .s1bgcol3 .col-sm-8 {
    width: 100%;
}
.m7s4p1 .vdoiframe{width:100%;height: 410px;border:0;overflow:hidden;}
 .ans2{height:160px!important;}
}
@media only screen and (max-width: 768px) {

 .ans2{height:auto!important;}
.m7s4p1 .vdoiframe{width:100%; height:500px; border:0; overflow:hidden;}
.m7s4p1 .m7s4b5{font-size:80%!important;}
.m7s4p1 .m7s4b5 .col1, .m7s4p1 .m7s4b5 .col2, .m7s4p1 .m7s4b5 .col3, .m7s4p1 .m7s4b5 .col4{height:160px;} 
.m7s4p1 .s1bgcol3 .col-sm-4, .m7s4p1 .s1bgcol3 .col-sm-8 {
    width: 100%;
}

.m7s4p1  .vertical-align_1 {
    display: inline;
    }
.m7s4p1 #b1 .col-sm-4 {
    padding:10px;
}
	.m7s4p1 #b1 .myDiv0 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: 100%;
    margin-left: 0;
    margin-top: -53.2%;
    position: absolute;
    width: 94%;
    z-index: 99;
}
.m7s4p1 #b1 #myDiv1  {
   font-size: 12px;
   color: #fff;
   font-family: "GothamHTF-Medium";
   position: relative;
   top: 1%;
}
.m7s4p1 #b1 #myDiv2  {
    position: relative;     
}

.m7s4p1 #b1 .btSize  {
    font-size: 8px;
}

.m7s4p1 #b1 #myDiv3 {
    font-family: "GothamHTF-Medium";
    position: relative;
    color: #fff;
     font-size:24px;   
 }

.m7s4p1 #b1 .btn {
      /* background: #28ae95 none repeat scroll 0 0 !important; */
      /* border: medium none; */
      /* border-radius: 0; */
      /* margin: 0px; */
      /* max-width: 100% !important; */
}

.m7s4p1 #b1 .feedback.Incorrect {
	display:none;
	background: #f06858;
	height: 104%;
	margin-left: 0;
	margin-top: -55%;
	position: absolute;
	width: 96%;
	z-index: 9999;
}
.m7s4p1 #b1 .feedback.Correct {
	display:none;
	background: #2cb69d;
	height: 104%;
	margin-left: 0;
	margin-top: -54.2%;
	position: absolute;
	width: 95%;
	z-index: 9999;
}

.m7s4p1 #b1 .textFeedb {
	 padding: 20px;
	 color: #ffffff;
	 font-size: 90%;
}
.m7s4p1 .feedback .Character img{max-height:100px;}
.m7s4p1 .feedback .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 8px 0;
    text-transform: uppercase;
    font-size: 9px;
    cursor: pointer;
}
 }   
 
@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {

.m7s4p1 .vdoiframe{width:100%;height: 420px;border:0;overflow:hidden;}
.m7s4p1 .m7s4b5 .col1, .m7s4p1 .m7s4b5 .col2, .m7s4p1 .m7s4b5 .col3, .m7s4p1 .m7s4b5 .col4{height: 165px;} 
.m7s4p1 .m7s4b17 .eq-h {
    display: grid;
}
.m7s4p1 .m7s4b17 .eq-h .col-sm-4, .m7s4p1 .m7s4b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

  .m7s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
 /*module1 section1 css*/
.m7s4p1 .s1bgcol .response1 .navbar-form{ 
    padding-left:  10px;
    padding-right:  0px;
   
}
.m7s4p1 .b1  h2 {
   font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
 }

.m7s4p1 .b1 .container p{
    font-family: "GothamHTF-Bold";
    font-size: 107%;
    width: 42%;
    }

.m7s4p1 .s1hide {
    display: none;
}


.m7s4p1 .m7s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s7img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m7s4p1 .m7s4b2 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p2.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m7s4p1 .m7s4b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p3.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m7s4p1 .m7s4b9 {
    margin-bottom: 60px;
    margin-top: 60px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

}



@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {
 .ans2{height:auto!important;}
.m7s4p1 .vdoiframe{width:100%; height:440px; border:0; overflow:hidden;}
.m7s4p1 .m7s4b17 .eq-h {
    display: grid;
}
.m7s4p1 .m7s4b17 .eq-h .col-sm-4, .m7s4p1 .m7s4b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m7s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
    .m7s4p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
     .m7s4p1 .b1  h2 {
         font-family: "GothamHTF-Bold";
    font-size: 124%;
    width: 70%;
    }
    .m7s4p1 .b1 .container p{
         font-size: 107%;
    width: 42%;
    font-family: "GothamHTF-Bold";
    }
    .m7s4p1 .s1hide {
        display: none;
    }
.m7s4p1 .dArowh {
    display: none;  
}

.m7s4p1 .m7s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s7img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m7s4p1 .m7s4b2 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p2.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m7s4p1 .m7s4b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p3.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m7s4p1 .m7s4b9 {
    margin-bottom: 30px;
    margin-top: 30px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
}
.m7s4p1  .vertical-align_1 {
  display: inline;
}



}
@media  screen
and (min-device-width : 300px)
and (max-device-width : 650px) {
 .ans2{height:auto!important;}
.m7s4p1 .m7s4b5 .col1, .m7s4p1 .m7s4b5 .col2, .m7s4p1 .m7s4b5 .col3, .m7s4p1 .m7s4b5 .col4{height:auto;} 
.m7s4p1 .vdodiv{/* padding:0px; */margin-left:0px;margin-right:0px;height: 380px;}
}
@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {
.m7s4p1 .vdoiframe{width:100%; height:400px; border:0; overflow:hidden;}
.vdodiv{margin-left:0px;margin-right:0px;height: 260px;}
.m7s4p1 #b1 .myDiv0 {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
    display: none;
    height: auto;
    margin-left: -15px;
    /* margin-top: -56.2%; */
    position: absolute;
    width: 100%;
    z-index: 99;
}
.m7s4p1 #b1 #myDiv1  {
   font-size:12px;
    color: #fff;
    font-family: "GothamHTF-Medium";
    position: relative;
    top: 1%; 
     
}
.m7s4p1 #b1 #myDiv2  {
    position: relative;     
}

.m7s4p1 #b1 .btSize  {
    font-size: 11px;
}

.m7s4p1 #b1 #myDiv3 {
    font-family: "GothamHTF-Medium";
    position: relative;
    color: #fff;
     font-size:24px;   
 }

.m7s4p1 #b1 .btn {
    /*  background: #28ae95 none repeat scroll 0 0 !important;
      border: medium none;
      border-radius: 0;
      margin: 0px;
      margin-top: -10px;
      width: 100% !important;
*/
}

.m7s4p1 #b1 .feedback.Incorrect {
	display:none;
	background:#f06858;
	height: auto;
	margin-left: -15px;
	/* margin-top: -56.2%; */
	position: absolute;
	width: 100%;
	z-index: 9999;
}
.m7s4p1 #b1 .feedback.Correct {
	display:none;
	background: #2cb69d;
	height: auto;
	margin-left: -15px;
	margin-top: -56.2%;
	position: absolute;
	width: 100%;
	z-index: 9999;
}

.m7s4p1 #b1 .textFeedb {
	 padding: 60px;
	color: #ffffff;
}
.m7s4p1 .feedback .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
}
.m7s4p1 .m7s4b5{font-size:80%!important;}

.m7s4p1 .m7s4b17 .eq-h {
    display: grid;
}
.m7s4p1 .m7s4b17 .eq-h .col-sm-4, .m7s4p1 .m7s4b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m7s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
  /*module1 section1 css*/
.m7s4p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
.m7s4p1 .b1  h2{  
   font-family: "GothamHTF-Bold";
    font-size: 103%;
     width: 90%;
    }

.m7s4p1 .b1 .container p{
     font-family: "GothamHTF-Bold";
    font-size: 83%;
    width: 65%;
    }

.m7s4p1 .s1hide {
    display: none;
}

.m7s4p1 .dArowh {
    display: none;  
}

.m7s4p1 .m7s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s7img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m7s4p1 .m7s4b2 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p2.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m7s4p1 .m7s4b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p3.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m7s4p1 .m7s4b9 {
    margin-bottom: 30px;
    margin-top: 30px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
}
.m7s4p1  .vertical-align_1 {
  display: inline;
}



}

@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
.m7s4p1 .m7s4b17 .eq-h {
    display: grid;
}
.m7s4p1 .m7s4b17 .eq-h .col-sm-4, .m7s4p1 .m7s4b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m7s4p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
.m7s4p1 .s1bgcol .response1 .navbar-form{ 
    padding-left: : 10px;
padding-right: : 10px;
   
}
 .m7s4p1 .b1  h2 {  
   font-family: "GothamHTF-Bold";
    font-size: 48%;
    width: 86%;
    }

.m7s4p1 .b1 .container p {
    font-family: "GothamHTF-Bold";
    font-size: 42%;
    width: 60%;
}

.m7s4p1 .s1hide {
    display: none;
}
 
.m7s4p1 .dArowh {
    display: none;  
}

.m7s4p1 .m7s4b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s7img4.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m7s4p1 .m7s4b2 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p2.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m7s4p1 .m7s4b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p3.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m7s4p1 .m7s4b9 {
    margin-bottom: 30px;
    margin-top: 30px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
}
.m7s4p1  .vertical-align_1 {
  display: inline;
}

 
}


@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {
.m7s4p1 .m7s4b17 .eq-h {
    display: grid;
}
.m7s4p1 .m7s4b17 .eq-h .col-sm-4, .m7s4p1 .m7s4b17 .eq-h .col-sm-3  {
    width: 100% !important;
    padding-bottom: 10px;
}

.m7s4p1 .s1bgcol .response1 .form-control{ 
 font-size:9px !important;

}

.m7s4p1 .s1bgcol .response1 .btn-info {
  font-size: 10px;
  width: 81px;
    }
.m7s4p1  .vertical-align_1 {
  display: inline;
}

.m7s4p1 .m7s4b9 {
    margin-bottom: 30px;
    margin-top: 30px;  
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s4p15.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;    
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 0px; 
}

}

@media only screen and (min-width : 768px) {
  .m7s4p1 .m6s7mcq .row-eq-height {
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
    }
.m7s4p1 .m6s7mcq .ans {
         margin: 0;
         padding: 12px;
         display: -webkit-box;
         display: -webkit-flex;
         display: -ms-flexbox;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: row;
    }
}   