.m5s10p1 .ansBG {
    background-color: #28ae95;
    padding: 20px 30px 20px 30px;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
}
.m5s10p1 .WrngBG {
    background-color: #f06858;
    padding: 20px 30px 30px 30px;
    margin-top: 0px;
    color: #fff;
    margin-bottom: 0px;
}