.m5s10p1 .m5s10s4 {
    background: url(https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m5s10img3.png)no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}
.m5s10p1 .m5s10p1 .m5s10s4 .ui-droppable-disabled,
.m5s10p1 .m5s10p1 .m5s10s4 .droppable {

    width: 99% !important;
    position: initial;
    vertical-align: middle;
    font-family: "GothamHTF-Book";

    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}

.draggable {  }

.m5s10p1 .m5s10s4 .drob {    
    width: 80%;
    height: 65px;    
    text-align: center;
    background-color: #e9e9e9;   
    margin: 0px auto;
    max-width: 288px;
}
.m5s10p1 .m5s10s4 .drob1 {    
    width: 80%;
    height: 160px;    
    margin-left: 21px;  
}
.m5s10p1 .m5s10s4 .drgb {
    font-size: 14px !important;
    max-width: 288px;
    width: 32%;
    min-height: 65px;
    position: absolute;
    cursor: pointer;
    z-index:10;
    text-align: center;
    background-color: #535B72;
    color: #fff;
    padding: 10px;
    /* Internet Explorer 10 */
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

    /* Firefox */
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

    /* Safari, Opera, and Chrome */
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

    /* W3C */
    display:box;
    box-pack:center;
    box-align:center;
}


#dragsb0 {
    top: 7%;
    left: 3%;
}
#dragsb1 {
    top: 7%; 
    left: 36.3%;
}
#dragsb2 {
    top: 7%;
    left: 69.6%;
}
#dragsb3 {
    top: 59%;
    left: 20%;
}
#dragsb4 {
    top: 59%;
    left: 53.3%;
}




/*.m5s10p1 .m5s10s1 .dra {
    font-size: 14px !important;
    width: 327px;
    height: 75px;
    position: absolute;
    cursor: pointer;
    z-index:10;
    text-align: left;
    }*/

/*

.m5s10p1 .m5s10s1 .bgGray_1 {       
    background-color: #eaeaea;
    height: 75px;
    width: 44%;
    margin-right: 19px;  
    text-align:center;    
    vertical-align:middle;
    font-family: "GothamHTF-Medium";
	margin-right: 20px;   
	margin-left: 60px;
}

.m5s10p1 .m5s10s1 .bgYellow_1 {
    background: #e4c72b;        
    height: 75px;
    width: 44%;
    text-align:center;
    vertical-align:middle;
     font-family: "GothamHTF-Medium";
}
	
*/




/*  ss */

.m5s10p1 .m5s10s4a p { 
    font-size: 14px;
    margin-bottom: 0px !important;
}
.m5s10p1 .m5s10s4a hr {
    margin-top: 8px !important;
}

.m5s10p1 .m5s10s4a { 
    padding-bottom: 80px;
    padding-top: 80px;   
    background-color: #f4f4f4;    
    min-height: 680px;
    height: 100%;
}
