<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>
<%! from django.utils.translation import ugettext as _ %>

<!-- <section class="courses-container"> -->
  <!-- <section class="highlighted-courses"> -->

    % if settings.FEATURES.get('COURSES_ARE_BROWSABLE'):
        ## limiting the course number by using HOMEPAGE_COURSE_MAX as the maximum number of courses

        %for course in courses[:homepage_course_max]:
          <div class="col-sm-6 portfolio-item">
          <!-- <div class=" card h-100 custom-card custom-card"> -->
            <%include file="course.html" args="course=course" />
          </div>
          <!-- </div> -->
        %endfor
      % if len(courses) > 4:
  <div class="col-sm-12 text-center">
   <a class="btn btn-info mt-3 mb-5" href="${marketing_link('COURSES')}"> ${_("View all Courses")} </a>
  </div>

    % endif
    % endif

  <!-- </section> -->
<!-- </section> -->

