<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>
<%page args="course" expression_filter="h"/>
        <div class="col-sm-6">

          <img class="card-img-top" src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" style="width: 100%;"/>
        </div>
        <div class="col-sm-6" style="padding: 20px;">
          <div class="card-body">
            <h4 class="card-title">
              <b>${course.display_name_with_default}</b>
            </h4>
            <div class="course-meta">
              
            </div>
            <p class="card-text">${course.short_description}</p>
          </div>
          <div class="card-footer">
            <!-- <button class="btn btn-default btn-orange">Start Course</button> -->
             
            <button onClick="window.location='${reverse('about_course', args=[text_type(course.id)])}';" id="myButton" class="float-left submit-button" style="color: white; background-color: red;" >Start Course</button>
          </div>
        </div>
