.m2s5p1 .s5scatterplot {
    padding-bottom: 0;
    min-height: 480px;
}
.m2s5p1 .s5scatterplot p {
    font-size: 14px;
}
.m2s5p1 .s5scatterplot .white{
    background: white;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

.m2s5p1 .s5scatterplot .ques{
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}
.m2s5p1 .s5scatterplot .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;
}


.m2s5p1 .s5scatterplot .calcHeight{
    display: table;
}
.m2s5p1 .s5scatterplot .calcHeight .ans{
    display: table-cell;
    vertical-align: middle;
}
.m2s5p1 .s5scatterplot .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.m2s5p1 .s5scatterplot .incorrect{
    background: #F06858;
}
.m2s5p1 .s5scatterplot .correct{
    background: #2CB69D;
}
.m2s5p1 .s5scatterplot .incorrect .ques,.m2s5p1 .s5scatterplot .correct .ques{
    color: #fff;
}
.m2s5p1 .s5scatterplot .selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
.m2s5p1 .s5scatterplot .incorrect .incorrectMsg,.m2s5p1 .s5scatterplot .correct .correctMsg{
    display: block;
}
.m2s5p1 .s5scatterplot .msg h3{
    color:#fff;
}
.m2s5p1 .s5scatterplot .msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
}
.m2s5p1 .s5scatterplot .incorrect .pageCount,.m2s5p1 .s5scatterplot .correct .pageCount{
    display: none;
}
.m2s5p1 .s5scatterplot .correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
.m2s5p1 .s5scatterplot .correctMsg .fa{
    font-size: 17px;
}
.m2s5p1 .s5scatterplot .sign .fa{
    color: white;
}
.m2s5p1 .s5scatterplot .incorrect .sign .fa-times,.m2s5p1 .s5scatterplot .correct .sign .fa-check{
    display: block !important;
}
.m2s5p1 .s5scatterplot .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}

.m2s5p1 .s5scatterplot .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
.m2s5p1 .s5scatterplot .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}

.carousel-control.right {
    background-image: none;
    line-height: 624px;
    height: 0px;
}
.carousel-control.left {
    background-image: none;
    line-height: 624px;
    height: 0px;
}
.carousel-indicators {
    bottom: 50px;
}
.carousel-indicators .active {
    background-color: #999;
}
.carousel-indicators li {
    background-color: #ccc;
}
.Dis {
    pointer-events: none;
}
.msgBtn {
    cursor: pointer;
}

.carousel-indicators li {
    background-color: #ccc !important;
}
.jumbotron p{
    font-size: 14px !important;
}