/* CSS for QuesRespModule3DeepDXBlock */

/*.quesrespmod3deepdrivexblock_block .count {
    font-weight: bold;
}

.quesrespmod3deepdrivexblock_block p {
    cursor: pointer;
}
*/

/*.fa-remove:before, .fa-close:before, .fa-times:before {
    content: "\f00d";
}

.fa-check:before {
    content: "\f00c";
}*/