{% extends 'ace_common/edx_ace/common/base_body.html' %}
{% load i18n %}

{% block content %}
<table width="100%" align="left" border="0" cellpadding="0" cellspacing="0" role="presentation">
    <tr>
        <td>
            <p>
                {% blocktrans trimmed %}
                    Hello!,
                {% endblocktrans %}
            </p>
            <p>
                {% blocktrans trimmed %}
                 You have been added to a cohort called {{cohorts_name}}.
                {% endblocktrans %}
            </p>
 <p>
                {% blocktrans trimmed %}
                 at {{platform_name}} by {{admin_name}} To access the online learning content Discovering Value Based Health Care from Dell Medical School.
                {% endblocktrans %}
            </p>
<p>
                {% blocktrans trimmed %}
                 Thank you,
                {% endblocktrans %}
            </p>

            <p>
                {% blocktrans trimmed %}
                Dell Med Discovering Value Based Health Care Teamdiscoveringvbhc@dellmed.utexas.edu   
                {% endblocktrans %}
            </p>
        </td>
    </tr>
</table>
{% endblock %}

