/* CSS for QuesRespModule5Sec4XBlock */

/*.quesrespmodule5sec4xblock_block .count {
    font-weight: bold;
}

.quesrespmodule5sec4xblock_block p {
    cursor: pointer;
}*/

a.ui-link{
	color: white;
	text-decoration: none;
}
 .selectedAns{
     background: transparent;
     border:2px solid #fff;
}