
<!DOCTYPE html>
<html lang="en">
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
       Register for Your Platform Name Here | Your Platform Name Here
      </title>
            <link rel="stylesheet" href="/static/css/lms-main-v1.css" type="text/css" media="all" / >

       <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap.min.css">
</head>
<body class="ltr view-register lang_en">
  <div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">
  <header class="global-header ">
    <div class="main-header">
<h1 class="header-logo">
  <a href=".">
    
    <img  class="logo" src="/static/ut_theme/images/logo.png" alt="Your Platform Name Here Home Page"/>
    
  </a>
</h1>


<nav class="nav-links" aria-label="Supplemental" links="">
  <div class="main">

  </div>
  <div class="secondary">
    <div>
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="register-btn btn" href="/admin_dashboard">Cohorts Performance Dashboard</a>
            </div>

    </div>
  </div>
</nav>

    </div>
    <div class="mobile-menu hidden" aria-label="More" options="" role="menu" id="mobile-menu"><div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
      </div><div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
              <a class="register-btn btn" href="/admin_dashboard" role="menuitem">Cohorts Performance Dashboard</a>
            </div></div>

    </div>   
</header>
<div class="marketing-hero"></div>
<div class="content-wrapper main-container" id="content">

<section class="introduction">
 <header style="height: 100px;">
   <h1 class="title">
     <span class="title-super"></span>
   </h1>
 </header>
</section>


<section role="main" class="content">
  
<br>
<div id="outer-container" class="group group-form group-form-requiredinformation">
        <p>
            <b>Welcome to the Administrator Cohort Management Dashboard.</b> Below are definitions of the elements included on this dashboard.<br><br>
            <b>Cohorts:</b> The number of cohorts you have created.<br><br>
            <b>Modules Assigned:</b> The total number of modules assigned to your cohorts or cohort depending on which cohort is selected.<br><br>
            <b>On Track:</b> Students who have completed the course.<br><br>
            <b>Performance:</b> Students who have Registered,Started and Completed the course.<br><br>
            <b>Facilitators assigned:</b> The number of facilitators you have assigned that have facilitator access to your institutional account.<br><br><br>
            <b><u>Cohort Progress stacked bar chart</u></b><br><br>
            X axis lists all of the cohorts you have created and the y-axis is a count of the number of learners in that cohort by status of registration and completion of assignments. <br><br>
            <li><b>Started = </b>Learner has viewed at least one page of content.</li>
            <li><b>Not Yet Started =</b> Learner has registered but has not viewed any content.</li>
            <li><b>Completed =</b> Learner is registered and has completed all tasks assigned  </li>
            <li><b>Not Registered =</b> Learner has not completed user registration process</li><br><br>

            <b><u>Cohorts donut chart</u></b> <br><br>A breakdown of what what percentage each of the cohorts you created make up of the total number of learners registered under your institutional account 



        </p>

    

</div><br>


</section>
</div>
<div class="wrapper wrapper-footer">

    <footer id="footer-openedx" class="grid-container" >   
        <div class="wrapper-logo">
          <p style="position: absolute; left: 0;">
            <a href="/">
               <img  class="logo" src="/static/ut_theme/images/logo.png" alt="Your Platform Name Here Home Page" style="float: left; height: 40px;" />
            </a>
          </p>
        </div>   

      <div class="colophon">
        <nav class="nav-colophon" aria-label="About">
          <ol>
              <li class="nav-colophon-01">
                <a id="about" href="/admin_about">About</a>
              </li>

          </ol>
        </nav>


        <p class="copyright">© Your Platform Name Here.  All rights reserved except where noted.  EdX, Open edX and their respective logos are trademarks or registered trademarks of edX Inc. </p>

        <nav class="nav-legal" aria-label="Legal">
          <ul>
              <li class="nav-legal-01">
                <a href="/privacy">Privacy Policy</a>
              </li>
              <li class="nav-legal-02">
                <a href="/tos">Terms of Service</a>
              </li>
              <li class="nav-legal-03">
                <a href="/honor">Honor Code</a>
              </li>
            <li><a href="https://www.edx.org/?utm_medium=affiliate_partner&amp;utm_source=opensource-partner&amp;utm_content=open-edx-partner-footer-link&amp;utm_campaign=open-edx-footer">Take free online courses at edX.org</a></li>
          </ul>
        </nav>
      </div>

      <div class="footer-about-openedx">
        <p>
          <a href="http://open.edx.org">
            <img src="https://files.edx.org/openedx-logos/edx-openedx-logo-tag.png" alt="Powered by Open edX" width="140" />
          </a>
        </p>
      </div>
    </footer>
  </div>
</div>



</body>

</html>