<!DOCTYPE html>
<html lang="en">
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
       Register for Your Platform Name Here | Your Platform Name Here
      </title>
            <link rel="stylesheet" href="/static/css/lms-main-v1.css" type="text/css" media="all" / >

       <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap.min.css">
</head>
<body class="ltr view-register lang_en">
  <div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">
  <header class="global-header ">
    <div class="main-header">
<h1 class="header-logo">
  <a href="/order_confirmation">
    
    <img  class="logo" src="/static/ut_theme/images/logo.png" alt="Your Platform Name Here Home Page"/>
    
  </a>
</h1>

<nav class="nav-links" aria-label=Supplemental Links>
  <div class="main">
  </div>

</nav>
    </div>   
</header>
<div class="marketing-hero"></div>
<div class="content-wrapper main-container" id="content">

<section class="introduction">
 <header>
   <h1 class="title">
     <span class="title-super"></span>
     <!--<span class="title-sub">Register below to create your Dell Medical School | The University of Texas at Austin account</span>-->
   </h1>
 </header>
</section>

<section class="register container">
  <h3>Welcome to Dell Medical School, The University of Texas at Austin</h3>
  <p style="
    color: #737373;
">Dell Medical School, The University of Texas at Austin gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.
 </p><section role="main" class="content">
  
<br>
<div id="outer-container" class="group group-form group-form-requiredinformation">
<form id="test_confirmation_id" method="post" data-remote="true" action=".">
  {% csrf_token %}
  <section>
    <div class="alert-messages">
    {% if messages %}
      {% for message in messages %}

      <div class="col-sm-">
        <div class="alert-{{message.tags}}" role="alert" tabindex="-1">
            <strong class="alert"><p style="padding: 20px; background-color: #87CEFA; color: white; width: 450px;" class="alert-copy col-sm-offset-1">{{message}}</p>
            </strong>
        </div>
      </div>
      {% endfor %}

    {% endif %}
    </div>
  </section>

  <div class="col-md-">
  <label class="required" for="order_number">Order Number</label>
    
    <input type="text" name="order_number" required='required' placeholder='example: 0DMSCHOOL0123456' style="width: 300px;">
</div>
<div class="col-md-"><button type="submit" class="btn btn-primary btn-lg">Submit</button></div>
  
</form>
</div>
</section>
</div>
</div>
</body>

</html>