<!DOCTYPE html>
<html lang="en">
<head dir="ltr">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>
       Register for Your Platform Name Here | Your Platform Name Here
      </title>
            <link rel="stylesheet" href="/static/css/lms-main-v1.css" type="text/css" media="all" / >

       <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap-formhelpers.min.css">
    <link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap.min.css">
</head>
<body class="ltr view-register lang_en">
  <div id="page-prompt"></div>
  <div class="window-wrap" dir="ltr">
  <header class="global-header ">
    <div class="main-header">
<h1 class="header-logo">
  <a href=".">
    
    <img  class="logo" src="/static/ut_theme/images/logo.png" alt="Your Platform Name Here Home Page"/>
    
  </a>
</h1>


<nav class="nav-links" aria-label="Supplemental" links="">
  <div class="main">

  </div>
  <div class="secondary">
    <div>
            <div class="mobile-nav-item hidden-mobile nav-item">
              <a class="register-btn btn" href="/logout">Logout</a>
            </div>

    </div>
  </div>
</nav>

    </div>
    <div class="mobile-menu hidden" aria-label="More" options="" role="menu" id="mobile-menu"><div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
      </div><div class="mobile-nav-item hidden-mobile nav-item mobile-nav-link">
              <a class="register-btn btn" href="/logout" role="menuitem">Logout</a>
            </div></div>

    </div>   
</header>
<div class="marketing-hero"></div>
<div class="content-wrapper main-container" id="content">

<section class="introduction">
 <header>
   <h1 class="title">
     <span class="title-super"></span>
   </h1>
 </header>
</section>

<section class="register container">
  <h3>Welcome to Dell Medical School, The University of Texas at Austin</h3>
  <p style="
    color: #737373;
">Dell Medical School, The University of Texas at Austin gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.
 </p><section role="main" class="content">
  
<br>
<div id="outer-container" class="group group-form group-form-requiredinformation">

  <form id="form-id" action="{% url 'cancel_order' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="new_user" value="{{new_user}}">
    <button type="submit" name="buy" value="buy"><img src="/static/ut_theme/images/buynow.png" alt="Your Platform Name" style="width: 120px;"></button>
    <button type="submit" name="cancel" value="cancel" style="height: 60px;"><img src="/static/ut_theme/images/cancel.png" alt="Your Platform Name" style="width: 150px; right: 230px;"></button>   
</form>
</div>
</section>
</div>
</div>
</body>

</html>