<%page expression_filter="h"/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
%>
<%namespace file='main.html' import="login_query"/>
<%namespace name='static' file='static_content.html'/>


<header>
  <h3 class="sr">${_("Registration Help")}</h3>
</header>

% if has_extauth_info is UNDEFINED:

<div class="btn-brand btn-login">
  <h3 class="title" style="
    color: #fff;
">Already registered?</h3>
  <p class="instructions">
    <a class="btn-login-action" href="/login?next=%2F" style="color: white;">
      Log in
    </a>
  </p>
</div>

% endif

## TODO: Use a %block tag or something to allow themes to
##       override in a more generalizable fashion.
<!-- <div class="cta cta-welcome">
  <h3>${_("Welcome to {platform_name}").format(platform_name=platform_name)}</h3>
  <p>${_("Registering with {platform_name} gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.").format(platform_name=platform_name)}</p>
</div>

<div class="cta cta-nextsteps">
  <h3>${_("Next Steps")}</h3>
    <p>${_("As part of joining {platform_name}, you will receive an email message with instructions for activating your account. Don't see the email? Check your spam folder and mark {platform_name} emails as 'not spam'. At {platform_name}, we communicate mostly through email.").format(platform_name=platform_name)}</p>
</div>

% if settings.MKTG_URL_LINK_MAP.get('FAQ'):
  <div class="cta cta-help">
    <h3>${_("Need Help?")}</h3>
    <p>${_("Need help registering with {platform_name}?").format(platform_name=platform_name)}
      <a href="${marketing_link('FAQ')}">
          ${_("View our FAQs for answers to commonly asked questions.")}
      </a>
      ${_("You can find the answers to most of your questions in our list of FAQs. After you enroll in a course, you can also find answers in the course discussions.")}</p>
  </div>
% endif
 -->

 <div class="cta cta-welcome">
  <h3>Welcome to Dell Medical School, The University of Texas at Austin</h3>
  <p>Registering with Dell Medical School, The University of Texas at Austin gives you access to all of our current and future free courses. Not ready to take a course just yet? Registering puts you on our mailing list - we will update you as courses are added.</p>
</div>

<div class="cta cta-nextsteps" style="
    display: inline-block;
">
  <button class="btn btn-primary" onclick="$('#nextstep_popup, #overlay').fadeIn()">Next Steps</button>
   <!--  <p>As part of joining Dell Medical School, The University of Texas at Austin, you will receive an email message with instructions for activating your account. Don&#39;t see the email? Check your spam folder and mark Your Platform Name Here emails as &#39;not spam&#39;. At Dell Medical School, The University of Texas at Austin, we communicate mostly through email.</p> -->
</div>

  <div class="cta cta-help" style="
    display: inline-block;
">
    <button class="btn btn-primary" onclick="$('#needhelp_popup, #overlay').fadeIn()">Need Help?</button>
<!--     <p>Need help registering with Dell Medical School, The University of Texas at Austin?
      <a href="/faq">
          View our FAQs for answers to commonly asked questions.
      </a>
      You can find the answers to most of your questions in our list of FAQs. After you enroll in a course, you can also find answers in the course discussions.</p> -->
  </div>
 
</section>

<div id="nextstep_popup" class="popup"
 style="z-index: 1000; box-shadow: 0 0 20px #494949; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); max-width: 800px; width: 90%; background: #ffffff; display: none; border: 1px solid #ccc;border-radius: 10px;">
      <div class="modal-header"
        style="height: 48px; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 15px; border-bottom: 1px solid #e5e5e5; color: #333333; font-size: 14px; text-align: left;"> Next Steps
        <button type="button" style="    box-shadow: none;margin: -2px 0px 0px;font-weight: bold;font-size: 21px;color: #000000;overflow: visible;cursor: pointer;border: 0px;float: right;opacity: 0.5;padding: 0px;background: transparent;" onclick="$('#nextstep_popup, #overlay').fadeOut()">×</button>
    </div>
 <div class="transcription"
   style="box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: #222222; width: 100%; padding: 15px; font-size: 14px; overflow: auto; max-height: 70vh;">

   <p style="box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0px 0px 10px;">As part of joining Dell Medical School, The University of Texas at Austin, you will receive an email message with instructions for activating your account. Don&#39;t see the email? Check your spam folder and mark Your Platform Name Here emails as &#39;not spam&#39;. At Dell Medical School, The University of Texas at Austin, we communicate mostly through email.
   </p>
 </div>
</div>




<div id="needhelp_popup" class="popup"
 style="z-index: 1000; box-shadow: 0 0 20px #494949; position: fixed; top: 50%; left: 50%; transform: translate(-50%,-50%); max-width: 800px; width: 90%; background: #ffffff; display: none; border: 1px solid #ccc;border-radius: 10px;">
      <div class="modal-header"
        style="height: 48px; box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); padding: 15px; border-bottom: 1px solid #e5e5e5; color: #333333; font-size: 14px; text-align: left;"> Need Help
        <button type="button" style="    box-shadow: none;margin: -2px 0px 0px;font-weight: bold;font-size: 21px;color: #000000;overflow: visible;cursor: pointer;border: 0px;float: right;opacity: 0.5;padding: 0px;background: transparent;" onclick="$('#needhelp_popup, #overlay').fadeOut()">×</button>
    </div>
 <div class="transcription"
   style="box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); color: #222222; width: 100%; padding: 15px; font-size: 14px; overflow: auto; max-height: 70vh;">

   <p style="box-sizing: border-box; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); margin: 0px 0px 10px;">Need help registering with Dell Medical School, The University of Texas at Austin?
      <a href="/faq">
          View our FAQs for answers to commonly asked questions.
      </a>
      You can find the answers to most of your questions in our list of FAQs. After you enroll in a course, you can also find answers in the course discussions.
   </p>
 </div>
</div>
<div id="overlay"
 style="z-index: 999; display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.4);"
 onclick="$('.popup, #overlay').fadeOut()"></div>