<%!
import third_party_auth
from third_party_auth import pipeline, provider
from django.utils.translation import ugettext as _
from django_countries import countries
from student.models import UserProfile
%>

<head>
<link rel="stylesheet" type="text/css" href="https://bootstrapformhelpers.com/assets/css/bootstrap.min.css">
<style type="text/css">
.required label:after { content: '*';  color: red;}
.button_regist {
border-color: #c8c8c8;
padding: 0;
text-align: center;
color: black;
width: 100%;
height: 40px;
text-transform: none;
text-shadow: none;
letter-spacing: normal;
}

.button_regist, .financial-assistance-wrapper button {
box-shadow: none;
background: transparent;
}

.button_regist:hover {
color: white;
}


/*a.button {
-webkit-appearance: button;
-moz-appearance: button;
appearance: button;

text-decoration: none;
color: initial;
}
*/

.question-mark-help {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.question-mark-help .question-mark-help-text {
  visibility: hidden;
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

.question-mark-help:hover .question-mark-help-text {
  visibility: visible;
}
label {
    margin: 15px 0 5px 0 !important;
    display: inline-block;
}
.col-md-6 input{
  margin: 5px 0 !important;
}
.tip-input{
  font-size: 11px;
}
</style>
</head>
<input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

<!-- status messages -->
<div role="alert" class="status message">
  <h3 class="message-title">${_("We're sorry, but this version of your browser is not supported. Try again using a different browser or a newer version of your browser.")}</h3>
</div>

<div role="alert" class="status message submission-error" tabindex="-1">
  <h3 class="message-title">${_("The following errors occurred while processing your registration:")} </h3>
  <ul class="message-copy"> </ul>
</div>
  <button type="button" class="button_regist" data-type="" onclick="location.href='/organization_register';">
Register Organization
</button><span class="question-mark-help"><span class="question-mark-help-text">?</span></span>
% if third_party_auth.is_enabled():

  % if not running_pipeline:

  <div class="form-actions form-third-party-auth">

  % for enabled in provider.Registry.displayed_for_login():
    ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
    <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');">
      % if enabled.icon_class:
      <span class="icon fa ${enabled.icon_class}" aria-hidden="true"></span>
      % else:
      <span class="icon" aria-hidden="true"><img class="icon-image" src="${enabled.icon_image.url}" alt="${enabled.name} icon" /></span>
      % endif
      ${_('Sign up with {provider_name}').format(provider_name=enabled.name)}
    </button>
  % endfor

  </div>
  <span class="deco-divider">
    ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
    ## Translators: this is the last choice of a number of choices of how to log in to the site.
    <span class="copy">${_('or')}</span>
  </span>

  <p class="instructions">
    ${_('Create your own {platform_name} account below').format(platform_name=platform_name)}
    <span class="note"><strong style="color: black;">${_('Required fields are noted by: <b class="indicator" style="color: black;">Bold text and an asterisk <b style="color: red;">(*)</b></b>.')}</strong></span>
  </p>


  % else:
  <p class="instructions">
## Translators: selected_provider is the name of an external, third-party user authentication service (like Google or LinkedIn).
${_("You've successfully logged into {selected_provider} account, but this account isn't linked with a Dell Medical School account yet.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br />
${_("Use your {platform_name} username and password to log in, and then link your {platform_name} account with {selected_provider} from your dashboard.").format(platform_name=settings.PLATFORM_NAME_1, selected_provider=selected_provider)}<br />
${_("If you don't have a {platform_name} account yet, click Register at the top of the page.").format(platform_name=settings.PLATFORM_NAME_1)}
</p>
  % endif

% else:

<p class="instructions">
  ${_("Please complete the following fields to register for an account. ")}<br />
  ${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}
</p>

% endif

<div class="row">
  <h2 class="sr">${_('Required Information')}</h2>

  % if has_extauth_info is UNDEFINED:

  
    <div class="col-md-6 required text" id="field-email">
      <label for="email">${_('E-mail')}</label>
      <input id="email" type="email" name="email" class="form-control" value="${email}" placeholder="${_('example: username@domain.com')}" required aria-required="true" />
    </div>

    <div class="col-md-6 required text" id="field-name">
      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="${name}" placeholder="${_('example: Jane Doe')}" required aria-required="true" aria-describedby="name-tip" class="form-control" />
      <span class="tip tip-input" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
    </div>
    <div class="col-md-6 required text" id="field-username">
      <label for="username">${_('Public Username')}</label>
      <input id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip" class="form-control"/>
      <span class="tip tip-input" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
    </div>

    % if third_party_auth.is_enabled() and running_pipeline:

    <div class="col-md-6 is-disabled field optional password" id="field-password" hidden>
      <label for="password">${_('Password')}</label>
      <input id="password" type="password" name="password" value="" disabled required aria-required="true" class="form-control"/>
    </div>

    % else:

    <div class="col-md-6 required password" id="field-password">
      <label for="password">${_('Password')}</label>
      <input id="password" type="password" name="password" value="" required aria-required="true" class="form-control" />
    </div>

    % endif
  

  % else:

  <div class="message">
    <h3 class="message-title">${_("Welcome {username}").format(username=extauth_id)}</h3>
    <p class="message-copy">${_("Enter a Public Display Name:")}</p>
  </div>

 

    % if ask_for_email:

    <div class="col-md-6 required text" id="field-email">
      <label for="email">${_("E-mail")}</label>
      <input class="" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" class="form-control" />
    </div>

    % endif

    <div class="col-md-6 required text" id="field-username">
      <label for="username">${_('Public Display Name')}</label>
      <input id="username" type="text" name="username" value="${extauth_username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip" class="form-control" />
      <span class="tip tip-input" id="id="username-tip>${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
    </div>

    % if ask_for_fullname:

    <div class="col-md-6 required text" id="field-name">
      <label for="name">${_('Full Name')}</label>
      <input id="name" type="text" name="name" value="" placeholder="$_('example: Jane Doe')}" aria-describedby="name-tip" class="form-control" />
      <span class="tip tip-input" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
    </div>

    % endif



  % endif
</div>





















<div class="row">
  <h2 class="sr">${_("Additional Personal Information")}</h2>

  
    % if settings.REGISTRATION_EXTRA_FIELDS['city'] != 'hidden':
    <div class="${settings.REGISTRATION_EXTRA_FIELDS['city']} text" id="field-city">
      <label for="city">${_('City')}</label>
      <input id="city" class="form-control" type="text" name="city" value="" placeholder="${_('example: New York')}" aria-describedby="city-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['city'] == 'required' else ''} />
    </div>
    % endif






% if settings.REGISTRATION_EXTRA_FIELDS['organization'] != 'hidden':
    <div class="col-md-6 required text" id="field-organization">
      <label for="organization"><b>${_('Organization')}</b></label>
      %for organization in student_list:
      <input id="organization" type='radio' style="display: inline-block;margin-right: 10px !important;" checked="" name="organization" value="${organization}" onclick="hideit('x2'); "${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['organization'] == 'required' else ''}/>${_(organization)}
      %endfor
      <input type='radio' style="display: inline-block; margin-left: 15px !important;margin-right: 10px !important;" name="organization" onclick="showit('x2');"/>I am from organization
      <span id="x2" style="display:none">
      <select id="org" class="form-control" name="organization" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['organization'] == 'required' else ''}>
        <option value="">--</option>
        %for org in organization_list:
        <option value="${org}">${_(org)}</option>
        %endfor
      </select>
      </span>
    </div>
    % endif







    
    % if settings.REGISTRATION_EXTRA_FIELDS['country'] != 'hidden':
    <div class="col-md-6">
    <div class="${settings.REGISTRATION_EXTRA_FIELDS['country']} select" id="field-country">
        <label for="country">${_("Country")}</label>
        <select id="country" class="form-control" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['country'] == 'required' else ''}>
          <option value="">--</option>
          %for code, country_name in countries:
          <option value="${code}">${ unicode(country_name) }</option>
          %endfor
        </select>
      </div>
    </div>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] != 'hidden':
    <div class="col-md-6 field-education-level">
    <div class="${settings.REGISTRATION_EXTRA_FIELDS['level_of_education']} select" id="field-education-level">
        <label for="education-level">${_("Highest Level of Education Completed")}</label>
        <select id="education-level" class="form-control" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['level_of_education'] == 'required' else ''}>
          <option value="">--</option>
          %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
          <option value="${code}">${_(ed_level)}</option>
          %endfor
        </select>
      </div>
    </div>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['gender'] != 'hidden':
    <div class="col-md-6 field-gender">
      <div class="${settings.REGISTRATION_EXTRA_FIELDS['gender']} select" id="field-gender">
        <label for="gender">${_("Gender")}</label>
        <select id="gender" class="form-control" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['gender'] == 'required' else ''}>
          <option value="">--</option>
          %for code, gender in UserProfile.GENDER_CHOICES:
          <option value="${code}">${_(gender)}</option>
          %endfor
        </select>
      </div>
    </div>
    % endif
    % if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] != 'hidden':
    <div class="col-md-6">
      <div class="${settings.REGISTRATION_EXTRA_FIELDS['year_of_birth']} select" id="field-yob">
        <label for="yob">${_("Year of Birth")}</label>
        <select id="yob" class="form-control" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['year_of_birth'] == 'required' else ''}>
          <option value="">--</option>
          %for year in UserProfile.VALID_YEARS:
          <option value="${year}">${year}</option>
          %endfor
        </select>
      </div>
      % endif
    </div>
  
</div>

<div class="row">
  
    % if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] != 'hidden':
    <div class="col-md-12 ${settings.REGISTRATION_EXTRA_FIELDS['mailing_address']} text" id="field-address-mailing">
      <label for="address-mailing"  style=" margin: 15px 0 5px 0 !important;display:inline-block;">>${_("Mailing Address")}</label>
      <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['mailing_address'] == 'required' else ''}></textarea>
    </div>
    % endif

    % if settings.REGISTRATION_EXTRA_FIELDS['goals'] != 'hidden':
    <div class="col-md-12 ${settings.REGISTRATION_EXTRA_FIELDS['goals']} text" id="field-goals">
      <label for="goals" style=" margin: 15px 0 5px 0 !important;display:inline-block;">${_("Please share with us your reasons for registering with {platform_name}").format(platform_name=platform_name)}</label>
      <textarea id="goals" name="goals" class="form-control" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELDS['goals'] == 'required' else ''}></textarea>
    </div>
    % endif
  
</div>

<div class="row">
  <h2 class="sr">${_("Account Acknowledgements")}</h2>

  

      % if has_extauth_info is UNDEFINED or ask_for_tos :
      <div class="col-md-6 required" id="field-tos">
        <input id="tos-yes" type="checkbox" name="terms_of_service" value="true" required aria-required="true" />
        <label for="tos-yes" style="margin:-22px 10px 0 20px !important;">${_('I agree to the {link_start}Terms of Service{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=marketing_link('TOS')),
          link_end='</a>')}</label>
      </div>
      % endif

      % if settings.REGISTRATION_EXTRA_FIELDS['honor_code'] != 'hidden':
      ## check if we have an Honor Code link in our marketing map
      % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
      <div class="col-md-6 ${settings.REGISTRATION_EXTRA_FIELDS['honor_code']}" id="field-honorcode">
        <input id="honorcode-yes" type="checkbox" name="honor_code" value="true" style="display: inline-block;">
        <%
          honor_code_path = marketing_link('HONOR')
        %>
        <label for="honorcode-yes" style="display: inline-block;margin:-22px 10px 0 20px !important;">${_('I agree to the {link_start}Honor Code{link_end}').format(
          link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=honor_code_path),
          link_end='</a>')}</label>
      </div>
      % endif
      % endif
   
</div>

<div class="form-actions" style="margin-top: 25px;">
  <button name="submit" type="submit" id="submit" class="action action-primary action-update register-button">${_('Register')} <span class="orn-plus">+</span> ${_('Create My Account')}</button>
</div>




<script>
function showit(it) {
  console.log(it);
  document.getElementById(it).style.display = "block";
}

function hideit(it) {
  document.getElementById(it).style.display = "none";
  $("#org").prop("selectedIndex", -1);
}

function hideall() {
  // alert('Yes in hide all it!!!');
  for (var i=1; i<=4; i++) {
    hideit("organization" + i);
  }
}
</script>

