.item a {color: #ffffff;text-decoration: none;cursor: pointer;line-height: 22px;}
.item a:hover {
       text-decoration: underline;
    }
.m7s6s1 ul{margin-top:25px; margin-bottom:25px;}
.m8s7p1 div#my_favorite_latin_words span.w10 {
  font-size: 450%;
  color: #0cf;
}
.m8s7p1 div#my_favorite_latin_words span.w9 {
  font-size:  400%;
  color: #0cf;
}
.m8s7p1 div#my_favorite_latin_words span.w8 {
  font-size:  375%;
  color: #0cf;
}
.m8s7p1 div#my_favorite_latin_words span.w7 {
  font-size:  320%;
  color: #39d;
}
.m8s7p1 div#my_favorite_latin_words span.w6 {
  font-size:  300%;
  color: #90c5f0;
}
.m8s7p1 div#my_favorite_latin_words span.w5 {
  font-size:  250%;
  color: #90a0dd;
}
.m8s7p1 div#my_favorite_latin_words span.w4 {
  font-size:  200%;
  color: #90c5f0;
}
.m8s7p1 div#my_favorite_latin_words span.w3 {
  font-size:  170%;
  color: #a0ddff;
}
.m8s7p1 div#my_favorite_latin_words span.w2 {
  font-size:  130%;
  color: #99ccee;
}
.m8s7p1 div#my_favorite_latin_words span.w1 {
  font-size:  100%;
  color: #aab5f0;
}
/*module1 section1 css*/
 .carousel  .item a {
    color: #f58320;
    text-decoration: none;
    cursor: pointer;
    line-height: 22px;
}
  .carouselC {
  height: 0px;
  visibility: hidden;
}
  .carouselC1 {
  height: 0px;
  visibility: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.carousel-inner {
   
    padding-bottom: 0px !important;
}
 .carousel-indicators {
    bottom: -20px;
}
.carousel-indicators .active {

    background-color: #999;
}
.carousel-indicators li {
    background-color: #ccc;
}
.m8s7b8 {
    line-height: 364px !important;
}
 .m8s7b7 .eq-h {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
 .container .carousel-inner {
    min-height: 200px;
    padding-left: 30px;
    padding-right: 30px;
}
.m8s7p1 .container .carousel .left.carousel-control{
    margin-left: -28px;
    height: 10px;
    top: 33%;
}
.m8s7p1 .container .carousel .left.carousel-control span{
 position: absolute;
   
}
.m8s7p1 .container .carousel .right.carousel-control{
   margin-right: -14px;
    height: 10px;
      top: 33%;
}

.m8s7p1 .container .carousel .right.carousel-control span{
    position: absolute;
    
}
.m8s7p1 .container .carousel .carousel-inner  .item{
    min-height: 200px;
}
.m8s7p1 .container .carousel .carousel-inner  .item .well{
    background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #8e9091;
}
.m8s7p1 .container .carousel .carousel-inner  .item .well .iHeight{
   max-height: 155px;
    overflow: hidden;
    min-height: 155px !important;
    -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


.m8s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s7p1.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}

.m8s7p1 .b1  h2{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    /*font-family: "GothamHTF-Bold";*/
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 60%;
    margin-bottom: 12%;
}
.m8s7p1 .b1 .container p{
    background: rgba(255, 255, 255, 0.75) none repeat scroll 0 0;
    color: #232a30;
    margin: auto;
    padding: 15px;
    position: relative;
    text-shadow: none;
    width: 28%;
    /*font-family: "GothamHTF-Bold";*/
}

.m8s7p1 .m7s6b2 {
    background-color: #F4F4F4;
}
.m8s7p1 .m7s6b2 p {
    /*font-family: "GothamHTF-Medium";*/
    color:#999;
    font-size: 14px !important;
}

 .m8s7p1 .m7s6b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}  
.m8s7p1 .m7s6b4 h4, .m8s7p1 .m7s6b4 h3, .m8s7p1 .m7s6b4a .text-uppercase, .m8s7p1 .m7s6b4b .text-uppercase {
    /*font-family: "GothamHTF-Bold";*/ 
        
}
.m8s7p1 .incorrect2{
    background:#b1b1b1!important;
}

/*.m8s7p1 .m7s6b4a p {
    font-size: 14px;
    /*font-family: "GothamHTF-Medium";*/
}
.m8s7p1 .m7s6b4a h5 {
    /*font-family: "GothamHTF-Medium";*/
    color:#f68121;
}*/


.m8s7p1 .bg4{background:#f4f4f4;margin-bottom:0px;/* padding-top: 50px; */}
.m8s7p1 .bg4 hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
}
.m8s7p1 .m4s4s5 h3 {
    /*font-family: "GothamHTF-Bold";*/
}
/* scatterplot */

 .m8s7mcq {
    padding-bottom: 0;
    min-height: 320px;
}
 .m8s7mcq p {
    font-size: 14px;
}
 .white{
    background: #f4f4f4;
    padding: 70px 0;
    height: 100%;
    /*min-height: 500px;    */
}

.ques{
    color: #3C4252;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
}
 .ans{
    padding: 10px;
    background: #535B72;
    color: #FFFFFF !important;
    font-size: 14px !important;
    margin: 8px 0;
    cursor: pointer;
    border:2px solid #535B72;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px #f4f4f4 soli;
}
.calcHeight{
    display: table;
}
 .calcHeight .ans{
    display: table-cell !important;
    vertical-align: middle!important;
}
 .text-muted{
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
 .incorrect{
    background: #F06858;
}
 .correct{
    background: #2CB69D;
}
 .incorrect .ques, .correct .ques{
    color: #fff;
}
.selectedAns{
    background: transparent;
    border:2px solid #fff;
}
.selectedAns1{
    background: transparent;
    border:2px solid #fff;
}
.msg{
    display: none;
    color:#fff;
}
 .incorrect .incorrectMsg, .correct .correctMsg{
    display: block;
}
 .msg h3{
    color:#fff;
}
.msg .msgBtn{
    background: #fff;
    width: 200px;
    color:#F06858;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 20px;
    cursor: pointer;
}
 .incorrect .pageCount, .correct .pageCount{
    display: none;
}
.correctMsg .msgBtn{
    background: #DCDDDF; 
    width: 250px;
    color: #545C71;
    cursor: pointer;
}
.correctMsg .fa{
    font-size: 17px;
}
.sign .fa{
    color: white;
}
 .incorrect .sign .fa-times, .correct .sign .fa-check{
    display: block !important;
}
.m8s7p1 .m8s7mcq .popup{
    position: absolute;
    top: 100px;
    background: #fff;
    min-height: 450px;
    width: 90%;
    border: 1px solid #ddd;
    padding: 35px;
    left: 5%;
    overflow: auto;
    max-height: 575px;
}
.m8s7p1 .m8s7mcq .popup .header{
    color: #01AEF0;
    font-size: 22px;
    text-transform: uppercase;
}
.m8s7p1 .m8s7mcq .popup .close_popup{
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #555;
    cursor: pointer;
}
 #my-Carousel1 .carousel-indicators {    
	bottom: 0px !important;
}

 #my-Carousel2 .carousel-indicators {
    bottom: -20px!important;
}

 #my-Carousel3 .carousel-indicators {
    bottom: -20px!important;
}
.m8s7p1 .m7s6b4a {       
    height: auto;     
    padding: 60px!important;    
    background: rgba(22, 22, 22, 0.8);
    border-radius: 0px;
	color:#ffffff;
}
.m8s7p1 .m7s6b4a p{font-size:100%;}
.m8s7p1 .m7s6b4b {       
    height: auto;     
    padding: 60px!important;    
    background: rgba(244, 130, 31, 0.8);
    border-radius: 0px;
	color:#ffffff;
}
.m8s7p1 .m7s6b4b .small{font-size:95%; margin-top:6px; margin-bottom:0px;}
.m8s7p1 .m7s6b4b .small a{color:#ffffff;}
.m8s7p1 .s8bgcol3{
    background-color:#EAEAEA;
    width: 100%;
    padding: 0;
}
.m8s7p1 .s8bgcol3 .col-sm-8 p{
    color: #22292F;
    font-size: 22px;
}
.m8s7p1 .s8bgcol3 .col-sm-8 .small{
    color: #F68223;
    font-size: 15px;
    width: 250px;
}
.m8s7p1 .s8bgcol3 .col-sm-8 h6 {
    /*font-family: "GothamHTF-Medium";*/
    font-size: 12px;
    color: #f4821f;
}

.m8s7p1 .s8bgcol3 .driveS8 {
    border: 2px solid #F48323;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.m8s7p1 .s8bgcol3{
    background-color: #96979b;
    width: 100%;
    padding: 0;
    /* color: #ffffff!important; */
}
.m8s7p1 .s8bgcol3 .col-sm-8 p{
    color: #ffffff;
    font-size: 22px;
}
.m8s7p1 .s8bgcol3 .col-sm-8 .small{
    color: #F68223;
    font-size: 15px;
    width: 250px;
}
.m8s7p1 .s8bgcol3 .col-sm-8 h6 {
    /*font-family: "GothamHTF-Medium";*/
    font-size: 12px;
    color: #ffffff;
}
.m8s7p1 .m4s3b9a h5 {
    /*font-family: "GothamHTF-Medium";*/
    color:#f68121;
    margin-top: 30px; 
}

.m8s7p1 .m4s3s2 {   
 
}
.m8s7p1 .vertical-align {
    align-items: center;
    display: flex;
}

.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    width: 100%;
    /* padding-top: 40px; */
    padding-bottom: 0px;
}
.m8s7p1 .s1bgcol .response1{
   background-color: #f0f0f0;
   /* background: #f0f0f0; */
   /* opacity: 0.8; */
   /* color: #222; */
}
.m8s7p1 .act1 h2, .m8s7p1 .act2 h2 {
    /*font-family: "GothamHTF-Bold";*/
}
/*.bg6{padding:15px; padding-top: 130px;}*/
.m8s7p1 .s1bgcol .response2{background:#dddddd; padding:20px;}
.m8s7p1 .s1bgcol .response2 a{color:#f4821f!important; font-size:110%; font-weight:600;}
.m8s7p1 .s1bgcol .response1 .line4{
    border-bottom: 2px solid #DCDDDF;
    margin: 40px auto;
    width: 30%;
    }
.m8s7p1 .alink a {
   color: #f58320 !important;
    text-decoration: none;
       /*font-family: "GothamHTF-Medium";*/
}
.m8s7p1  .alink a:focus, .alink a:hover {
     color: #f58320 !important;
    text-decoration: underline;
}
.m8s7p1 .s1bgcol .response3{background: #3b4254;color: #ffffff;line-height: 20px;padding:20px;  padding-bottom: 50px;}
.m8s7p1 .s1bgcol .response3 h4{ line-height:30px!important; padding-bottom:10px;}
.m8s7p1 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.m8s7p1 .s1bgcol .response1 .btn-info{
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
.m8s7p1 .s1bgcol .response1 .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}


.m8s7p1 .m4s3s2 .bgs1 {    
    color: #fff;
    padding-bottom: 20px;
    padding-top: 0px !important;  
    background-color: #28ae95;
}
.m8s7p1 .m4s3s2 .bgs2 {
    background-color: #3b4254;    
    color: #fff;  
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 0px;  
}
.m8s7p1 .m7s5s5{
    background-color: #F4F4F4;  
    /*font-family: "GothamHTF-Book";*/
        font-size: 14px;  
        padding-top: 0px !important;
        padding-bottom: 0px !important;
}

.m8s7p1 .m7s5s5 .col-sm-5 {
    margin-top: 40px;
    padding: 40px;
}
.m8s7p1 .m7s5s5 .bgs5{
  background-color: #3B4254;  
}
.m8s7p1 .m7s5s5 p{
    /*font-family: "GothamHTF-Book";*/
        font-size: 14px;  
}
.m8s7p1 .m4s3s2 p{
    font-size: 14px;
 }

.m8s7p1 .m4s3s2 .col-sm-6 .text-center {
    margin-top: 15px;
    margin-bottom: 30px;

}



.m8s7p1 .m4s3s3 {
    margin-top: 50px;
}

.m8s7p1 .driveS2 {
    border: 2px solid #fff;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.m8s7p1 .driveS3 {
    border: 2px solid #eee;
    padding: 10px;
    text-align: center;
    font-size: 16px;    
     /*font-family: "GothamHTF-Medium";*/   
}


.m8s7p1 .m7s6s8 ol, .m8s7p1 .m4s3s2 ol {
    margin-left: -22px;    
    /*font-family: "GothamHTF-Medium";*/        
}
.m8s7p1 .m7s6s8 h5, .m8s7p1 .m4s3s2 h5 {    
    /*font-family: "GothamHTF-Medium";*/        
}

.m8s7p1 .m4s3s2 hr {
    border-top: 1px solid #bbbbbd !important; 
}

.m8s7p1 .m4s3s2 .m4s3s2a p { 
     /*font-family: "GothamHTF-Medium";*/ 
}
.m8s7p1 .m4s3s2 .m4s3s2a .small { 
     font-size: 12px; 
}

.m8s7p1 .act1 h2, .m8s7p1 .act2 h2 {
    /*font-family: "GothamHTF-Bold";*/
}

.m8s7p1 .boldT {
    /*font-family: "GothamHTF-Bold";*/
}
.m8s7p1 .panel{
    border-radius:0px;
    border: 0px;
    color:#3c4252;
    text-shadow:none;
}
.m8s7p1 .panel h2 {
    font-size: 15px;
    /*font-family: "GothamHTF-Bold";*/
}
.m8s7p1 .panel h5 {
    font-size: 14px;
    color: #7d91a9;
}
.m8s7p1 .panel p {
    font-size: 12px;
    /*font-family: "GothamHTF-Medium";*/
}

.m8s7p1 .b2_s1 .tint{
    width: 100%;
    height: 100%;
    background: rgba(118,131,148,0.85);
    position: absolute;
    z-index: 9;
    top:0; 
}

.m8s7p1 .b3_s1 .tint{
    width: 100%;
    height: 100%;
    background: rgba(84,164,155,0.85);
    position: absolute;
    z-index: 9;
    top:0; 
}
.m8s7p1 .b3_s1 .container-full {
    margin-bottom: 100px;
    position: relative;
    top: 100px;
    z-index: 9999999;
}
.m8s7p1 .b2_s1 .container-full {
    position: relative;
    top: 100px;
    z-index: 9999999;
}


.m8s7p1 .s1bgcol3{
    background-color:#EAEAEA;
    width: 100%;
    padding: 0;
}.m8s7p1 .s1bgcol3 .well p{
    color: #22292F;
    font-size: 22px;
}
.m8s7p1 .s1bgcol3 .well .small{
    color: #F68223;
    font-size: 15px;
    width: 250px;
}


.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}
.m8s7p1 .s1bgcol .response1{
    background-color: #f0f0f0;   
}

.m8s7p1 .s1bgcol .response1 .navbar-form{
    background: #DCDDDF;padding: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
}
.m8s7p1 .s1bgcol .response1 .btn-info{
    background: #acadb1 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    font-size: 18px;
    height: 55px;
    width: 150px;   
}
.m8s7p1 .s1bgcol .response1 .form-control{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: none;
    color: #000;
    height: 55px;   
}

.m8s7p1 .m1s1imgT{
    font-size: 14px;
    /*font-family: "GothamHTF-Book";*/
}
.m8s7p1 .middleTxt{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.m8s7p1 .spanm1s1 {
    position: absolute;
    left: 50px !important;
    top: 10px !important;
    color: #3a4354;
    font-size: 13px !important;
}
.m8s7p1 .spanm1s1T {
    color: #3a4354;
    font-size: 15px !important;
    position: absolute;
    left: 50px !important;
    top: 28px !important;
}
.box{width:74%;p;padding:25px;background: #d0dae4;font-size:150%;text-align:center;margin-top: 20px;margin-bottom:20px;padding-top: 25px;padding-bottom: 17px;}

.box2{width:100%; padding:40px; background:#535b72; color:#ffffff; text-align:center; margin-top:20px; margin-bottom:20px;}
.box2 .boldT{/*font-family: "GothamHTF-Medium";*/}
.box2 ol li{padding-left:1em}
.box2 .line4{
    border-bottom: 1px solid #DCDDDF;
    margin: 40px auto;
    width: 100%;
    }
.box2 li{
    text-align:left; /*font-family: "GothamHTF-Medium";*/ margin-top:15px;
    }
.img2{width:60%; margin-right:15px; margin-bottom:15px;}	
.m8s7p1 .ms5 .row{
    margin:30px;
    padding-left:0px;
    padding-right:0px;
}

.m8s7p1 .well{
    background:none;
    border: 0px solid #e3e3e3;
    box-shadow:none;
    vertical-align: :center;
}


.m8s7p1 .m7s5b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m8s7p1 .m7s5b4a {
    height: auto;
    padding: 40px;
    padding-top: 30px;
    background-color: #D4803A;
}


.m8s7p1 .m7s5b5 {
    margin-bottom: 0px;    
    height: auto;  
    border-radius: 0px; 
    background-color: #fff !important;
}


.m8s7p1 .m4s3b9 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m4s3img11.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m8s7p1 .m4s3b9a {       
    height: auto;     
    padding: 50px;    
    background-color: #fff;
}


.m8s7p1 .m7s6b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s9p3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    /*padding-top: 80px;*/
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m8s7p1 .m7s6b6 h2 {
    color:#fff;
    /*font-family: "GothamHTF-Bold";*/
 }


.m8s7p1 .m7s6b7 {   
    height: 100%;
  }

.m8s7p1 .m7s6b7 .col-sm-9 .well p:nth-child(1){
    color: #f68121;
    /*font-family: "GothamHTF-Medium";*/  
}
.m8s7p1 .m7s6b7 .col-sm-9 .well p:nth-child(2){
    /*font-family: "GothamHTF-Bold";*/
    font-size: 18px !important;
}
.m8s7p1 .m7s6b7 .col-sm-9 .well p:nth-child(3){
    /*font-family: "GothamHTF-Medium";*/    
}
.m8s7p1 .m7s6b7 .col-sm-9 .well p:nth-child(4){
    /*font-family: "GothamHTF-BookItalic";    */
    font-size: 12px !important;
    overflow-wrap: break-word;
}

.m8s7p1 .jumbotron .m7s6b7 p {
    font-size: 14px !important;
}
.m8s7p1 .vertical-align {
    align-items: center;
    display: flex;
}


.m8s7p1  .m7s6b7 .col-sm-12 .well1{
   background: #f5f5f5 none repeat scroll 0 0;
   border-radius: 0;
   height: 100%;
   margin-bottom: 15px;
   padding-bottom: 0;
   padding-top: 0;
   padding-left: 15px;
}

.m8s7p1  .m7s6b7 .col-sm-9 {  
    height: 100%;
    padding-left: 0;
}
.m8s7p1  .m7s6b7 .col-sm-9 .well{   
     background:#fff;
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;       
}
.m8s7p1  .m7s6b7 .well1 .row{   
     height: 100%;
     margin-bottom: 0px;
      border-radius: 0;
}

.m8s7p1 .s6scatterplot {
    background-color: #f0f0f0;
    padding-bottom: 60px!important;
}

.m8s7p1 .s6scatterplot p {
    font-size: 14px;
}

.m8s7p1 .m7s5b5 .m7s5b5a {
    line-height: 380px !important;

}

.m8s7p1 .m7s5b5 h4 {
    /*font-family: "GothamHTF-Medium";*/
    font-weight: bold;
}

.m8s7p1 .tpCr {
    margin-top: 2.5%;
}

.socialbox{/*font-family: "GothamHTF-Medium";*/}
			.border-bot{border-bottom:2px #e8e9e9 solid; font-size:110%;}
			.border-left{border-left:2px #e8e9e9 solid;padding: 4%;padding-bottom: 3%;}
			.socialbox row{padding:10px;}
			.box-right{text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: row;
	           text-transform: uppercase;
	           font-size:130%;
			   }
@media screen
and (min-device-width : 766px)
and (max-device-width : 1000px) {
.box {
    width: 100%;
	}
.ontop{margin-top: 10px;}
.m8s7p1 .m8s7mcq .ans{
    font-size: 11px !important;
}
.m8s7p1 .m8s7mcq .ans {
    padding: 12px;
}
  .m8s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s7p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
 /*module1 section1 css*/
.m8s7p1 .s1bgcol .response1 .navbar-form{ 
    padding-left:  10px;
    padding-right:  0px;
   
}
.m8s7p1 .vertical-align {
    align-items: center;
    display: flex;
}
.m8s7p1 .m7s6b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
     min-height: 400px; 
}

.m8s7p1 .s8bgcol3 .driveS8 {
    margin-left: 15%;
    border: 2px solid #F48323;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    width: 70%;

    }
.m8s7p1 .b1  h2 {
   /*font-family: "GothamHTF-Bold";*/
    font-size: 124%;
    width: 70%;
 }
 .m8s7p1 .padbtm .well {
    margin-bottom: -10px;
}

.m8s7p1 .b1 .container p{
    /*font-family: "GothamHTF-Bold";*/
    font-size: 107%;
    width: 42%;
    }

.m8s7p1 .s1hide {
    display: none;
}


.m8s7p1 .m7s6b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    width: auto;
    padding-bottom: 80px;
}

.m8s7p1 .m7s5b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m8s7p1 .s8bgcol3 .vertical-align {
      display: inline;
}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
.box {
    width: 100%;
	}

.m8s7p1 .s8bgcol3 .col-sm-4, .m8s7p1 .s8bgcol3 .col-sm-8{    
    width: 100%;
}
.m8s7p1 .s8bgcol3 .vertical-align {
      display: inline;
}
}
@media only screen and (max-width: 768px) {
 .m8s7p1 .s8bgcol3 .col-sm-4, .m8s7p1 .s8bgcol3 .col-sm-8{    
    width: 100%;
}
.box {
    width: 100%;
	}

}


@media screen
and (min-device-width : 501px)
and (max-device-width : 765px) {
.box {
    width: 100%;
	}
.ontop{margin-top: 10px;}
  .m8s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s7p1.png') no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
    .m8s7p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}
.m8s7p1 .s8bgcol3 .vertical-align {
    align-items: center;
    display: flex !important;
}
.m8s7p1 .vertical-align {
    align-items: center;
	display: block !important;
	}
.m8s7p1 .m7s6b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png')     no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;      
    padding-top: 80px;
    padding-bottom: 80px;   
}
.m8s7p1 .s8bgcol3 .vertical-align {
      display: inline;
}
     .m8s7p1 .b1  h2 {
         /*font-family: "GothamHTF-Bold";*/
    font-size: 124%;
    width: 70%;
    }
    .m8s7p1 .b1 .container p{
         font-size: 107%;
    width: 42%;
    /*font-family: "GothamHTF-Bold";*/
    }
    .m8s7p1 .s1hide {
        display: none;
    }
.m8s7p1 .dArowh {
    display: none;  
}
.m8s7p1 .paraTop {
    margin-top: 20px;
}
.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.m8s7p1 .m7s6b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s9p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m8s7p1 .m7s5b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.socialbox{/*font-family: "GothamHTF-Medium";*/ margin-left:15px; margin-right:15px;}
			.border-bot{border-bottom:2px #e8e9e9 solid; font-size:100%;}
			.border-left{border-left:2px #e8e9e9 solid; padding:5%;}
			.socialbox row{padding:10px;}
			.box-right{text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: row;
	           text-transform: uppercase;
	           font-size:110%;
			   }
.m8s7p1 .socialbox .vertical-align {
 display: flex!important;
 }
}
@media  screen
and (min-device-width : 300px)
and (max-device-width : 650px) {
#img3{width:100%!important}
.box {
    width: 100%;
	}
.socialbox{/*font-family: "GothamHTF-Medium";*/  margin-left:10px; margin-right:10px;}
			.border-bot{border-bottom:2px #e8e9e9 solid; font-size:100%;}
			.border-left{border-left:2px #e8e9e9 solid; padding:5%;}
			.socialbox row{padding:10px;}
			.box-right{text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: row;
	           text-transform: uppercase;
	           font-size:110%;
			   }
.m8s7p1 .socialbox .vertical-align {
 display: flex!important;
 }
.ontop{margin-top: 10px;}
.m8s7p1 .s8bgcol2 .col-sm-4, .m8s7p1 .s8bgcol2 .col-sm-8{
    width: 100%!important;
    padding-right: 30px;
    padding-left: 30px;
}

.m8s7p1 .s8bgcol3 .vertical-align {
    align-items: center;
    display:block!important;
    padding: 15px;
}
.m8s7p1 .s8bgcol2 .vertical-align {
	display: block !important;
	}
.m8s7p1 .s1bgcol .response1 .btn-info {
    height: 56px;
    margin-bottom: -2px;
}
}
@media  screen
and (min-device-width : 300px)
and (max-device-width : 500px) {

.socialbox{/*font-family: "GothamHTF-Medium";*/ margin-left:10px; margin-right:10px;}
			.border-bot{border-bottom:2px #e8e9e9 solid; font-size:100%;}
			.border-left{border-left:2px #e8e9e9 solid; padding:5%;}
			.socialbox row{padding:10px;}
			.box-right{
             text-align: center;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: row;
             text-transform: uppercase;
             font-size: 96%;
      }
.ontop{margin-top: 10px;}
.m8s7p1 .s8bgcol2 .col-sm-4, .m8s7p1 .s8bgcol2 .col-sm-8{    
    width: 100%!important;
}
.m8s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s7p1.png') no-repeat center left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;
}
  /*module1 section1 css*/
.m8s7p1 .s1bgcol .response1 .navbar-form{
 
    padding-left: : 10px;
padding-right: : 10px;
   
}

.m8s7p1 .m7s6b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.m8s7p1 .paraTop {
    margin-top: 20px;
}
.m8s7p1 .b1  h2{  
   /*font-family: "GothamHTF-Bold";*/
    font-size: 103%;
     width: 90%;
    }

.m8s7p1 .b1 .container p{
     /*font-family: "GothamHTF-Bold";*/
    font-size: 83%;
    width: 65%;
    }

.m8s7p1 .s1hide {
    display: none;
}

.m8s7p1 .dArowh {
    display: none;  
}

.m8s7p1 .m7s6b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s9p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}

.m8s7p1 .m7s5b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m8s7p1  .vertical-align {
  display: inline;
}
.m8s7p1 .s8bgcol2 .vertical-align {
	display: block !important;
	}
.m8s7p1 .s1bgcol .response3 {
    background: #3b4254;
    color: #ffffff;
    line-height: 20px;
    padding: 20px;
    padding-bottom: 10px;
}

}

@media  screen
and (min-device-width : 100px)
and (max-device-width : 299px) {
.m8s7p1 .s8bgcol2 .col-sm-4, .m8s7p1 .s8bgcol2 .col-sm-8{    
    width: 100%;
}
.m8s7p1 .b1 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s7p1.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-color: #060;    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background-color: #fff;
    min-height: 500px;    
}
.m8s7p1 .s1bgcol .response1 .navbar-form{ 
    padding-left: : 10px;
padding-right: : 10px;
   
}

.m8s7p1 .m7s6b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s8p3.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
	height:100%;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}
.m8s7p1 .paraTop {
    margin-top: 20px;
}
 .m8s7p1 .b1  h2 {  
   /*font-family: "GothamHTF-Bold";*/
    font-size: 48%;
    width: 86%;
    }

.m8s7p1 .b1 .container p {
    /*font-family: "GothamHTF-Bold";*/
    font-size: 42%;
    width: 60%;
}
.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
    padding-top: 80px;
}

.m8s7p1 .s1hide {
    display: none;
}
 
.m8s7p1 .dArowh {
    display: none;  
}

.m8s7p1 .m7s6b6 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m8s9p3.png') no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-bottom: 80px;
}
.m8s7p1 .m7s5b4 {
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;  
    height: auto;    
    width: auto;
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px; 
}

.m8s7p1  .vertical-align {
  display: inline;
}
 .m8s7p1 .s1bgcol2. vertical-align {
    align-items: center;
    display: block!important;
}
}


/*code by lavlesh*/

@media  screen
and (min-device-width : 100px)
and (max-device-width : 440px) {

.m8s7p1 .s1bgcol .response1 .form-control{ 
 font-size:9px !important;

}
.m8s7p1 .paraTop {
    margin-top: 20px;
}

.m8s7p1 .s1bgcol .response1 .btn-info {
  font-size: 10px;
  width: 81px;
    }
    .m8s7p1  .vertical-align {
  display: inline; align-items: center;
}
 .m8s7p1  .s1bgcol .vertical-align {
  display: relative;
}

.m8s7p1 .s1bgcol{
    /*background-color: #fff;*/
    margin-bottom: 0px;
    background: url('https://s3.us-east-2.amazonaws.com/dms-vbhc/img/m7s3p10.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
}

}
@media only screen and (max-width: 768px) {
.m8s7p1 .paraTop {
    margin-top: 20px; 
}
   #leftbot1, #rightbot1{
        display:block!important;
    }  
 .m8s7p1 .s8bgcol2 .vertical-align {
	display: block !important;
	}
}

.Dis {
    pointer-events: none;
}

