@font-face {
	font-family: 'GothamHTF-Black';
   
    src: url('static/css/font/GothamHTF-Black.eot');
    src: url('static/css/font/GothamHTF-Black.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-Black.woff2') format('woff2'),
    url('static/css/font/GothamHTF-Black.woff') format('woff'),
    url('static/css/font/GothamHTF-Black.ttf') format('truetype'),
    url('static/css/font/GothamHTF-Black.svg#GothamHTF-Black') format('svg');	    
}   
@font-face {
	font-family: 'GothamHTF-Bold';
   
    src: url('static/css/font/GothamHTF-Bold.eot');
    src: url('static/css/font/GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-Bold.woff2') format('woff2'),
    url('static/css/font/GothamHTF-Bold.woff') format('woff'),
    url('static/css/font/GothamHTF-Bold.ttf') format('truetype'),
    url('static/css/font/GothamHTF-Bold.svg#GothamHTF-Bold') format('svg');    
}
@font-face {
	font-family: 'GothamHTF-BoldItalic';
    
    src: url('static/css/font/GothamHTF-BoldItalic.eot');
    src: url('static/css/font/GothamHTF-BoldItalic.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-BoldItalic.woff2') format('woff2'),
    url('static/css/font/GothamHTF-BoldItalic.woff') format('woff'),
    url('static/css/font/GothamHTF-BoldItalic.ttf') format('truetype'),
    url('static/css/font/GothamHTF-BoldItalic.svg#GothamHTF-BoldItalic') format('svg');    
}

@font-face {
	font-family: 'GothamHTF-Book';
    
    src: url('static/css/font/GothamHTF-Book.eot');
    src: url('static/css/font/GothamHTF-Book.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-Book.woff2') format('woff2'),
    url('static/css/font/GothamHTF-Book.woff') format('woff'),
    url('static/css/font/GothamHTF-Book.ttf') format('truetype'),
    url('static/css/font/GothamHTF-Book.svg#GothamHTF-Book') format('svg');
}

@font-face {
	font-family: 'GothamHTF-BookItalic';
    
    src: url('static/css/font/GothamHTF-BookItalic.eot');
    src: url('static/css/font/GothamHTF-BookItalic.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-BookItalic.woff2') format('woff2'),
    url('static/css/font/GothamHTF-BookItalic.woff') format('woff'),
    url('static/css/font/GothamHTF-BookItalic.ttf') format('truetype'),
    url('static/css/font/GothamHTF-BookItalic.svg#GothamHTF-BookItalic') format('svg');    
}

@font-face {
	font-family: 'GothamHTF-Light';
    
    src: url('static/css/font/GothamHTF-Light.eot');
    src: url('static/css/font/GothamHTF-Light.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-Light.woff2') format('woff2'),
    url('static/css/font/GothamHTF-Light.woff') format('woff'),
    url('static/css/font/GothamHTF-Light.ttf') format('truetype'),
    url('static/css/font/GothamHTF-Light.svg#GothamHTF-Light') format('svg'); 
   
}
@font-face {
    font-family: 'GothamHTF-Medium';
   
    src: url('static/css/font/GothamHTF-Medium.eot');
    src: url('static/css/font/GothamHTF-Medium.eot?#iefix') format('embedded-opentype'),
    url('static/css/font/GothamHTF-Medium.woff2') format('woff2'),
    url('static/css/font/GothamHTF-Medium.woff') format('woff'),
    url('static/css/font/GothamHTF-Medium.ttf') format('truetype'),
    url('static/css/font/GothamHTF-Medium.svg#GothamHTF-Medium') format('svg');
}


/*font-weight:normal;*/
/*-webkit-font-smoothing: antialiased;*/