/* CSS for QuesRespModule3Sec4XBlock */

/*.quesrespmodule3sec4xblock_block .count {
    font-weight: bold;
}

.quesrespmodule3sec4xblock_block p {
    cursor: pointer;
}*/


.set_center_align {
	text-align: center;
}